openapi: 3.0.1
info:
  description: "\nDocumentation of the Dynatrace Environment API v2. Resources here\
    \ generally supersede those in v1. Migration of resources from v1 is in progress.\
    \ \n\nIf you miss a resource, consider using the Dynatrace Environment API v1.\
    \ To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k)\
    \ .\n\nNotes about compatibility:\n* Operations marked as early adopter or preview\
    \ may be changed in non-compatible ways, although we try to avoid this.\n* We\
    \ may add new enum constants without incrementing the API version; thus, clients\
    \ need to handle unknown enum constants gracefully."
  title: Dynatrace Environment API
  version: 2.0.0
servers:
- url: https://fbj16975.sprint.dynatracelabs.com/api/v2
tags:
- description: Query and ingest metrics
  name: Metrics
- description: Manage problems and comments
  name: Problems
- description: Manage events
  name: Events
- description: Read audit logs
  name: Audit Logs
- description: Manage network zones
  name: Network zones
- description: Manage monitored entities
  name: Monitored entities
- description: Read and ingest logs
  name: Logs
- description: View information about your ActiveGates
  name: ActiveGates
- description: Manage ActiveGate auto-update settings.
  name: ActiveGates - Auto-update configuration
- description: Manage ActiveGate auto-update jobs.
  name: ActiveGates - Auto-update jobs
- description: Manage ActiveGates configuration remotely
  name: ActiveGates - Remote configuration management
- description: Manage OneAgent configuration remotely
  name: OneAgent - Remote configuration management
- description: Manage custom tags of monitored entities
  name: Monitored entities - Custom tags
- description: Manage SLOs
  name: Service-level objectives
- description: Analyze your deployed components
  name: Releases
- description: Manage security problems
  name: Security problems
- description: Manage Davis security advices
  name: Davis security advisor
- description: Manage Extensions 2.0 life cycle
  name: Extensions 2.0
- description: "Query countries, regions, and cities"
  name: Geographic regions
- description: Manage all capabilities of Hub
  name: Hub Capabilities
- description: Gets the status of ActiveGate tokens enforcement
  name: ActiveGates - ActiveGate tokens enforcement
- description: Manage Dynatrace ActiveGate tokens
  name: Access Tokens - ActiveGate tokens
- description: Manage Dynatrace API tokens
  name: Access Tokens - API tokens
- description: Manage credentials for Synthetic monitors
  name: Credential vault
- description: Manage settings objects
  name: Settings - Objects
- description: View settings schemas
  name: Settings - Schemas
- description: Trigger and view information about on-demand synthetic monitor executions
  name: Synthetic - On-demand monitor executions
- description: Rotate tenant tokens
  name: Access tokens - Tenant tokens
- description: View metric units
  name: Metrics - Units
paths:
  /activeGates/{agId}/autoUpdate:
    get:
      operationId: getAutoUpdateConfigById
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ActiveGateAutoUpdateConfig'
          description: Success
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Not found. See response body for details.
      security:
      - Api-Token: []
      summary: Gets the configuration of auto-update for the specified ActiveGate
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
    put:
      operationId: putAutoUpdateConfigById
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ActiveGateAutoUpdateConfig'
        description: "JSON body of the request, containing auto update parameters."
        required: true
      responses:
        "204":
          description: Success. The auto-update configuration have been updated. Response
            doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Updates the configuration of auto-update for the specified ActiveGate
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/{agId}/autoUpdate/validator:
    post:
      operationId: validateAutoUpdateConfigById
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ActiveGateAutoUpdateConfig'
        description: "JSON body of the request, containing auto update parameters."
        required: true
      responses:
        "204":
          description: Validated. The submitted auto-update configuration is valid.
            Response doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: "Validates the payload for the `POST /activeGates/{agId}/autoUpdate`\
        \ request."
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/autoUpdate:
    get:
      operationId: getGlobalAutoUpdateConfigForTenant
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ActiveGateGlobalAutoUpdateConfig'
          description: Success
      security:
      - Api-Token: []
      summary: Gets the global auto-update configuration of environment ActiveGates.
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
    put:
      operationId: putGlobalAutoUpdateConfigForTenant
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ActiveGateGlobalAutoUpdateConfig'
        description: "JSON body of the request, containing global auto update parameters."
        required: true
      responses:
        "204":
          description: Success. The global auto-update configuration have been updated.
            Response doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Puts the global auto-update configuration of environment ActiveGates.
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/autoUpdate/validator:
    post:
      operationId: validateGlobalAutoUpdateConfigForTenant
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ActiveGateGlobalAutoUpdateConfig'
        description: "JSON body of the request, containing global auto update parameters."
        required: true
      responses:
        "204":
          description: Validated. The submitted configuration is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Validates the payload for the `POST /activeGates/autoUpdate` request.
      tags:
      - ActiveGates - Auto-update configuration
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/updateJobs:
    get:
      description: The response includes ActiveGates that have both completed (successful
        and failed) jobs and jobs in progress.
      operationId: getAllUpdateJobList
      parameters:
      - description: "The start of the requested timeframe for update jobs. \n\nYou\
          \ can use one of the following formats: \n* Timestamp in UTC milliseconds.\
          \ \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time\
          \ zone is specified, UTC is used. You can use a space character instead\
          \ of the `T`. Seconds and fractions of a second are optional. \n* Relative\
          \ timeframe, back from now. The format is `now-NU/A`, where `N` is the amount\
          \ of time, `U` is the unit of time, and `A` is an alignment. The alignment\
          \ rounds all the smaller values to the nearest zero in the past. For example,\
          \ `now-1y/w` is one year back, aligned by a week. \nYou can also specify\
          \ relative timeframe without an alignment: `now-NU`. \nSupported time units\
          \ for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours\
          \ \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years\
          \ \n\nIf not set, the relative timeframe of one day is used (`now-1d`).\
          \ \n\nMaximum timeframe is 31 days."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe for update jobs. \n\nYou\
          \ can use one of the following formats: \n* Timestamp in UTC milliseconds.\
          \ \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time\
          \ zone is specified, UTC is used. You can use a space character instead\
          \ of the `T`. Seconds and fractions of a second are optional. \n* Relative\
          \ timeframe, back from now. The format is `now-NU/A`, where `N` is the amount\
          \ of time, `U` is the unit of time, and `A` is an alignment. The alignment\
          \ rounds all the smaller values to the nearest zero in the past. For example,\
          \ `now-1y/w` is one year back, aligned by a week. \nYou can also specify\
          \ relative timeframe without an alignment: `now-NU`. \nSupported time units\
          \ for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours\
          \ \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years\
          \ \n\nIf not set, the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Filters the resulting set of update jobs by the specified initial\
          \ version. \n\n Specify the comparison operator here."
        explode: true
        in: query
        name: startVersionCompareType
        required: false
        schema:
          default: EQUAL
          enum:
          - EQUAL
          - GREATER
          - GREATER_EQUAL
          - LOWER
          - LOWER_EQUAL
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the initial version
          (required format `<major>.<minor>.<revision>`).
        explode: true
        in: query
        name: startVersion
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the update type.
        example: ACTIVE_GATE
        explode: true
        in: query
        name: updateType
        required: false
        schema:
          enum:
          - ACTIVE_GATE
          - REMOTE_PLUGIN_AGENT
          - SYNTHETIC
          - Z_REMOTE
          type: string
        style: form
      - description: "Filters the resulting set of update jobs by the specified target\
          \ version. \n\n Specify the comparison operator here."
        explode: true
        in: query
        name: targetVersionCompareType
        required: false
        schema:
          default: EQUAL
          enum:
          - EQUAL
          - GREATER
          - GREATER_EQUAL
          - LOWER
          - LOWER_EQUAL
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the target version
          (required format `<major>.<minor>.<revision>`).
        explode: true
        in: query
        name: targetVersion
        required: false
        schema:
          type: string
        style: form
      - description: "If `true`, filters the resulting set of update jobs to the most\
          \ recent update of each type."
        explode: true
        in: query
        name: lastUpdates
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UpdateJobsAll'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: List ActiveGates with update jobs
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/{agId}/updateJobs:
    get:
      description: The job can update the ActiveGate to the specified version or the
        latest available one.
      operationId: getUpdateJobListByAgId
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      - description: "The start of the requested timeframe for update jobs. \n\nYou\
          \ can use one of the following formats: \n* Timestamp in UTC milliseconds.\
          \ \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time\
          \ zone is specified, UTC is used. You can use a space character instead\
          \ of the `T`. Seconds and fractions of a second are optional. \n* Relative\
          \ timeframe, back from now. The format is `now-NU/A`, where `N` is the amount\
          \ of time, `U` is the unit of time, and `A` is an alignment. The alignment\
          \ rounds all the smaller values to the nearest zero in the past. For example,\
          \ `now-1y/w` is one year back, aligned by a week. \nYou can also specify\
          \ relative timeframe without an alignment: `now-NU`. \nSupported time units\
          \ for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours\
          \ \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years\
          \ \n\nIf not set, the relative timeframe of one week is used (`now-1w`).\
          \ \n\nMaximum timeframe is 31 days."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe for update jobs. \n\nYou\
          \ can use one of the following formats: \n* Timestamp in UTC milliseconds.\
          \ \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time\
          \ zone is specified, UTC is used. You can use a space character instead\
          \ of the `T`. Seconds and fractions of a second are optional. \n* Relative\
          \ timeframe, back from now. The format is `now-NU/A`, where `N` is the amount\
          \ of time, `U` is the unit of time, and `A` is an alignment. The alignment\
          \ rounds all the smaller values to the nearest zero in the past. For example,\
          \ `now-1y/w` is one year back, aligned by a week. \nYou can also specify\
          \ relative timeframe without an alignment: `now-NU`. \nSupported time units\
          \ for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours\
          \ \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years\
          \ \n\nIf not set, the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Filters the resulting set of update jobs by the specified initial\
          \ version. \n\n Specify the comparison operator here."
        explode: true
        in: query
        name: startVersionCompareType
        required: false
        schema:
          default: EQUAL
          enum:
          - EQUAL
          - GREATER
          - GREATER_EQUAL
          - LOWER
          - LOWER_EQUAL
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the initial version
          (required format `<major>.<minor>.<revision>`).
        explode: true
        in: query
        name: startVersion
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the update type.
        example: ACTIVE_GATE
        explode: true
        in: query
        name: updateType
        required: false
        schema:
          enum:
          - ACTIVE_GATE
          - REMOTE_PLUGIN_AGENT
          - SYNTHETIC
          - Z_REMOTE
          type: string
        style: form
      - description: "Filters the resulting set of update jobs by the specified target\
          \ version. \n\n Specify the comparison operator here."
        explode: true
        in: query
        name: targetVersionCompareType
        required: false
        schema:
          default: EQUAL
          enum:
          - EQUAL
          - GREATER
          - GREATER_EQUAL
          - LOWER
          - LOWER_EQUAL
          type: string
        style: form
      - description: Filters the resulting set of update-jobs by the target version
          (required format `<major>.<minor>.<revision>`).
        explode: true
        in: query
        name: targetVersion
        required: false
        schema:
          type: string
        style: form
      - description: "If `true`, filters the resulting set of update jobs to the most\
          \ recent update of each type."
        explode: true
        in: query
        name: lastUpdates
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UpdateJobList'
          description: Success
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Not found. See response body for details.
      security:
      - Api-Token: []
      summary: Lists update jobs for the specified ActiveGate
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
    post:
      operationId: createUpdateJobForAg
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateJob'
        description: "JSON body of the request, containing update-job parameters."
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UpdateJob'
          description: Success. The update-job have been created.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Creates a new update job for the specified ActiveGate
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/{agId}/updateJobs/{jobId}:
    delete:
      operationId: deleteUpdateJobByJobIdForAg
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier for a update-job of ActiveGate.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success. The update-job have been deleted. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Not found. See response body for details.
      security:
      - Api-Token: []
      summary: Deletes the specified update job
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
    get:
      operationId: getUpdateJobByJobIdForAg
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier for a update-job of ActiveGate.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UpdateJob'
          description: Success
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Not found. See response body for details.
      security:
      - Api-Token: []
      summary: Gets the parameters of the specified update job
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/{agId}/updateJobs/validator:
    post:
      operationId: validateUpdateJobForAg
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateJob'
        description: "JSON body of the request, containing update-job parameters."
        required: true
      responses:
        "204":
          description: Validated. The submitted update-job is valid. Response doesn't
            have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: "Validates the payload for the `POST /activeGates/{agId}/updateJobs`\
        \ request."
      tags:
      - ActiveGates - Auto-update jobs
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates:
    get:
      description: The response includes all ActiveGates that are currently connected
        to the environment or have been connected during last 2 hours.
      operationId: getAllActiveGates
      parameters:
      - description: "Filters the resulting set of ActiveGates by the name of the\
          \ host it's running on. \n\n You can specify a partial name. In that case,\
          \ the `CONTAINS` operator is used."
        explode: true
        in: query
        name: hostname
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates by the OS type of the
          host it's running on.
        explode: true
        in: query
        name: osType
        required: false
        schema:
          enum:
          - LINUX
          - WINDOWS
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the network address.\
          \ \n\n You can specify a partial address. In that case, the `CONTAINS` operator\
          \ is used."
        explode: true
        in: query
        name: networkAddress
        required: false
        schema:
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the Load Balancer\
          \ address. \n\n You can specify a partial address. In that case, the `CONTAINS`\
          \ operator is used."
        explode: true
        in: query
        name: loadBalancerAddress
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates by the ActiveGate type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - ENVIRONMENT
          - ENVIRONMENT_MULTI
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the network zone.\
          \ \n\n You can specify a partial name. In that case, the `CONTAINS` operator\
          \ is used."
        explode: true
        in: query
        name: networkZone
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates by the auto-update status.
        explode: true
        in: query
        name: updateStatus
        required: false
        schema:
          enum:
          - INCOMPATIBLE
          - OUTDATED
          - SCHEDULED
          - SUPPRESSED
          - UNKNOWN
          - UP2DATE
          - UPDATE_IN_PROGRESS
          - UPDATE_PENDING
          - UPDATE_PROBLEM
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the specified version.\
          \ \n\n Specify the comparison operator here."
        explode: true
        in: query
        name: versionCompareType
        required: false
        schema:
          default: EQUAL
          enum:
          - EQUAL
          - GREATER
          - GREATER_EQUAL
          - LOWER
          - LOWER_EQUAL
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the specified version.\
          \ \n\n Specify the version in `<major>.<minor>.<revision>` format (for example,\
          \ `1.195.0`) here."
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates by the actual state
          of auto-update.
        explode: true
        in: query
        name: autoUpdate
        required: false
        schema:
          enum:
          - DISABLED
          - ENABLED
          type: string
        style: form
      - description: "Filters the resulting set of ActiveGates by the group. \n\n\
          \ You can specify a partial name. In that case, the `CONTAINS` operator\
          \ is used."
        explode: true
        in: query
        name: group
        required: false
        schema:
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates by the communication
          status.
        explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Filters the resulting set of ActiveGates by the enabled modules.
        explode: true
        in: query
        name: enabledModule
        required: false
        schema:
          items:
            enum:
            - AWS
            - AZURE
            - BEACON_FORWARDER
            - CLOUD_FOUNDRY
            - DB_INSIGHT
            - EXTENSIONS_V1
            - EXTENSIONS_V2
            - KUBERNETES
            - LOGS
            - MEMORY_DUMPS
            - METRIC_API
            - ONE_AGENT_ROUTING
            - OTLP_INGEST
            - REST_API
            - SYNTHETIC
            - VMWARE
            - Z_OS
            type: string
          type: array
        style: form
      - description: Filters the resulting set of ActiveGates by the disabled modules.
        explode: true
        in: query
        name: disabledModule
        required: false
        schema:
          items:
            enum:
            - AWS
            - AZURE
            - BEACON_FORWARDER
            - CLOUD_FOUNDRY
            - DB_INSIGHT
            - EXTENSIONS_V1
            - EXTENSIONS_V2
            - KUBERNETES
            - LOGS
            - MEMORY_DUMPS
            - METRIC_API
            - ONE_AGENT_ROUTING
            - OTLP_INGEST
            - REST_API
            - SYNTHETIC
            - VMWARE
            - Z_OS
            type: string
          type: array
        style: form
      - description: Filters the resulting set of ActiveGates to those which are running
          in container (`true`) or not (`false`).
        explode: true
        in: query
        name: containerized
        required: false
        schema:
          type: boolean
        style: form
      - description: Filters the resulting set of ActiveGates to those with authorization
          token in specified state.
        explode: true
        in: query
        name: tokenState
        required: false
        schema:
          enum:
          - ABSENT
          - EXPIRING
          - INVALID
          - UNKNOWN
          - UNSUPPORTED
          - VALID
          type: string
        style: form
      - description: Filters the resulting set of ActiveGates to those with set expiration
          date for authorization token.
        explode: true
        in: query
        name: tokenExpirationSet
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ActiveGateList'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Lists all available ActiveGates
      tags:
      - ActiveGates
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/{agId}:
    get:
      operationId: getOneActiveGateById
      parameters:
      - description: The ID of the required ActiveGate.
        explode: false
        in: path
        name: agId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ActiveGate'
          description: Success
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Not found. See response body for details.
      security:
      - Api-Token: []
      summary: Gets the details of the specified ActiveGate
      tags:
      - ActiveGates
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/remoteConfigurationManagement:
    get:
      description: The response includes finished jobs for the last 7 days.
      operationId: getRemoteIdentityOperations
      parameters:
      - description: "The start of the requested timeframe for a remote configuration\
          \ management job. \n\nYou can use one of the following formats: \n* Timestamp\
          \ in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`.\
          \ If no time zone is specified, UTC is used. You can use a space character\
          \ instead of the `T`. Seconds and fractions of a second are optional. \n\
          * Relative timeframe, back from now. The format is `now-NU/A`, where `N`\
          \ is the amount of time, `U` is the unit of time, and `A` is an alignment.\
          \ The alignment rounds all the smaller values to the nearest zero in the\
          \ past. For example, `now-1y/w` is one year back, aligned by a week. \n\
          You can also specify relative timeframe without an alignment: `now-NU`.\
          \ \nSupported time units for the relative timeframe are: \n   * `m`: minutes\
          \ \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months\
          \ \n   * `y`: years \n\n"
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe for a remote configuration\
          \ management job. \n\nYou can use one of the following formats: \n* Timestamp\
          \ in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`.\
          \ If no time zone is specified, UTC is used. You can use a space character\
          \ instead of the `T`. Seconds and fractions of a second are optional. \n\
          * Relative timeframe, back from now. The format is `now-NU/A`, where `N`\
          \ is the amount of time, `U` is the unit of time, and `A` is an alignment.\
          \ The alignment rounds all the smaller values to the nearest zero in the\
          \ past. For example, `now-1y/w` is one year back, aligned by a week. \n\
          You can also specify relative timeframe without an alignment: `now-NU`.\
          \ \nSupported time units for the relative timeframe are: \n   * `m`: minutes\
          \ \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months\
          \ \n   * `y`: years \n\nIf not set, the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementJobList'
          description: Success
      security:
      - Api-Token: []
      summary: Lists finished ActiveGate remote configuration management jobs
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
    post:
      operationId: createRemoteIdentityOperationJob
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest'
        description: "JSON body of the request, containing remote configuration management\
          \ job definition."
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementJob'
          description: Created
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementValidationResult'
          description: Failed. The input is invalid.
        "409":
          description: Other remote configuration management job is currently being
            executed
      security:
      - Api-Token: []
      summary: Creates a new remote configuration management job
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/remoteConfigurationManagement/preview:
    post:
      operationId: createRemoteIdentityOperationPreview
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest'
        description: "JSON body of the request, containing remote configuration management\
          \ job definition."
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementPreviewList'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementValidationResult'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Creates a preview for remote configuration management job
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/remoteConfigurationManagement/current:
    get:
      description: "The currently running remote configuration management job may\
        \ be related to ActiveGates or OneAgents. There is a limit of one concurrent\
        \ remote configuration management job, regardless of the entity type."
      operationId: getCurrentRemoteIdentityOperationJob
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementJob'
          description: Success
        "204":
          description: 'No remote configuration management job is currently running '
      security:
      - Api-Token: []
      summary: Gets remote configuration management job that is currently running
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/remoteConfigurationManagement/{id}:
    get:
      operationId: getRemoteIdentityOperationJob
      parameters:
      - description: The ID of the required remote configuration management job.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementJob'
          description: Success
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The requested resource doesn't exist.
      security:
      - Api-Token: []
      summary: Gets the specified remote configuration management job
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /activeGates/remoteConfigurationManagement/validator:
    post:
      operationId: validateRemoteIdentityOperation
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest'
        description: "JSON body of the request, containing remote configuration management\
          \ job definition."
        required: true
      responses:
        "204":
          description: Success. Response doesn't have a body.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RemoteConfigurationManagementValidationResult'
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Validates the payload for the `POST /activeGates/remoteConfigurationManagement`
        request.
      tags:
      - ActiveGates - Remote configuration management
      x-token-scopes:
      - '`activeGates.write` (Write ActiveGates)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /activeGates/tokenEnforcement:
    get:
      operationId: getTokenEnforcement
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ActiveGateTokenEnforcement'
          description: Success. The response contains the status of ActiveGate tokens
            enforcement
      security:
      - Api-Token: []
      summary: Gets the status of ActiveGate tokens enforcement | maturity=EARLY_ADOPTER
      tags:
      - ActiveGates - ActiveGate tokens enforcement
      x-maturity: EARLY_ADOPTER
      x-token-scopes:
      - '`activeGates.read` (Read ActiveGates)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /entities:
    get:
      description: "Lists entities observed within the specified timeframe along with\
        \ their properties. \n\nWhen you query entities of the `SERVICE_METHOD` type,\
        \ only the following requests are returned: \n\n* [Key requests](https://dt-url.net/a903u9s)\
        \ \n* Top X requests that are used for [baselining](https://dt-url.net/0j23uqb)\
        \ \n* Requests that have caused a [problem](https://dt-url.net/pf43uqg) \n\
        \nYou can limit the output by using pagination: \n1. Specify the number of\
        \ results per page in the **pageSize** query parameter. \n2. Use the cursor\
        \ from the **nextPageKey** field of the previous response in the **nextPageKey**\
        \ query parameter to obtain subsequent pages."
      operationId: getEntities
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of entities. \n\nIf not set, 50 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Defines the scope of the query. Only entities matching the specified\
          \ criteria are included into response. \n\nYou must set one of these criteria:\
          \ \n\n* Entity type: `type(\"TYPE\")` \n* Dynatrace entity ID: `entityId(\"\
          id\")`. You can specify several IDs, separated by a comma (`entityId(\"\
          id-1\",\"id-2\")`). All requested entities must be of the same type. \n\n\
          You can add one or several of the following criteria. Values are case-sensitive\
          \ and the `EQUALS` operator is used unless otherwise specified. \n\n* Tag:\
          \ `tag(\"value\")`. Tags in `[context]key:value`, `key:value`, and `value`\
          \ formats are detected and parsed automatically. Any colons (`:`) that are\
          \ part of the key or value must be escaped with a backslash(`\\`), otherwise,\
          \ it will be interpreted as the separator between the key and the value.\
          \ All tag values are case-sensitive. \n* Management zone ID: `mzId(123)`\
          \ \n* Management zone name: `mzName(\"value\")`\n* Entity name: \n\t* `entityName.equals`:\
          \ performs a non-casesensitive `EQUALS` query. \n\t* `entityName.startsWith`:\
          \ changes the operator to `BEGINS WITH`. \n\t* `entityName.in`: enables\
          \ you to provide multiple values. The `EQUALS` operator applies. \n\t* `caseSensitive(entityName.equals(\"\
          value\"))`: takes any entity name criterion as an arguments and makes the\
          \ value case-sensitive.\n* Health state (HEALTHY,UNHEALTHY): `healthState(\"\
          HEALTHY\")`\n* First seen timestamp: `firstSeenTms.<operator>(now-3h)`.\
          \ Use any timestamp format from the **from**/**to** parameters. \n\tThe\
          \ following operators are available:\n\t* `lte`: earlier than or at the\
          \ specified time\n\t* `lt`: earlier than the specified time\n\t* `gte`:\
          \ later than or at the specified time\n\t* `gt`: later than the specified\
          \ time\n* Entity attribute: `<attribute>(\"value1\",\"value2\")` and `<attribute>.exists()`.\
          \ To fetch the list of available attributes, execute the [GET entity type](https://dt-url.net/2ka3ivt)\
          \ request and check the **properties** field of the response. \n* Relationships:\
          \ `fromRelationships.<relationshipName>()` and `toRelationships.<relationshipName>()`.\
          \ The criterion takes an entity selector as an attribute. To fetch the list\
          \ of available relationships, execute the [GET entity type](https://dt-url.net/2ka3ivt)\
          \ request and check the **fromRelationships** and **toRelationships** fields.\n\
          * Negation: `not(<criterion>)`. Inverts any criterion except for **type**.\
          \ \n\nFor more information, see [Entity selector](https://dt-url.net/apientityselector)\
          \ in Dynatrace Documentation. \n\nTo set several criteria, separate them\
          \ with a comma (`,`). For example, `type(\"HOST\"),healthState(\"HEALTHY\"\
          )`. Only results matching **all** criteria are included in response. \n\n\
          Supported string length is 2,000 characters. \n\nThe field is **required**\
          \ when you're querying the first page of results."
        explode: true
        in: query
        name: entitySelector
        required: false
        schema:
          type: string
        style: form
      - description: "The start of the requested timeframe. \n\nYou can use one of\
          \ the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the relative timeframe of three days is used (`now-3d`)."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe. \n\nYou can use one of the\
          \ following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Defines the list of entity properties included in the response.\
          \ The ID and the name of an entity are **always** included to the response.\
          \ \n\nTo add properties, list them with leading plus `+`. You can specify\
          \ several properties, separated by a comma (for example `fields=+lastSeenTms,+properties.BITNESS`).\
          \ \n\nUse the [GET entity type](https://dt-url.net/2ka3ivt) request to fetch\
          \ the list of properties available for your entity type. Fields from the\
          \ **properties** object must be specified in the `properties.FIELD` format\
          \ (for example, `properties.BITNESS`)."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Defines the ordering of the entities returned. \n\nThis field\
          \ is **optional**, each field has a sign prefix (+/-), which corresponds\
          \ to sorting order ( + for ascending and - for descending). If no sign prefix\
          \ is set, then default ascending sorting order will be applied. \n\nCurrently\
          \ ordering is only available for the display name (for example `sort=name\
          \ or sort =+name for ascending, sort=-name for descending`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntitiesList'
          description: Success
      security:
      - Api-Token: []
      summary: Gets the information about monitored entities
      tags:
      - Monitored entities
      x-token-scopes:
      - '`entities.read` (Read entities)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /entities/{entityId}:
    get:
      operationId: getEntity
      parameters:
      - description: The ID of the required entity.
        explode: false
        in: path
        name: entityId
        required: true
        schema:
          type: string
        style: simple
      - description: "The start of the requested timeframe. \n\nYou can use one of\
          \ the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the relative timeframe of three days is used (`now-3d`)."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe. \n\nYou can use one of the\
          \ following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Defines the list of entity properties included in the response.\
          \ The ID and the name of an entity are **always** included to the response.\
          \ \n\nTo add properties, list them with leading plus `+`. You can specify\
          \ several properties, separated by a comma (for example `fields=+lastSeenTms,+properties.BITNESS`).\
          \ \n\nUse the [GET entity type](https://dt-url.net/2ka3ivt) request to fetch\
          \ the list of properties available for your entity type. Fields from the\
          \ **properties** object must be specified in the `properties.FIELD` format\
          \ (for example, `properties.BITNESS`)."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Entity'
          description: Success
      security:
      - Api-Token: []
      summary: Gets the properties of the specified monitored entity
      tags:
      - Monitored entities
      x-token-scopes:
      - '`entities.read` (Read entities)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /entityTypes/{type}:
    get:
      operationId: getEntityType
      parameters:
      - description: The required entity type.
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityType'
          description: Success
        "400":
          description: Failed. The requested monitored entity type is not exportable
            or doesn't exist.
      security:
      - Api-Token: []
      summary: Gets a list of properties for the specified entity type
      tags:
      - Monitored entities
      x-token-scopes:
      - '`entities.read` (Read entities)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /entityTypes:
    get:
      description: "You can limit the output by using pagination: \n1. Specify the\
        \ number of results per page in the **pageSize** query parameter. \n2. Use\
        \ the cursor from the **nextPageKey** field of the previous response in the\
        \ **nextPageKey** query parameter to obtain subsequent pages."
      operationId: getEntityTypes
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of entity types in a single response payload. \n\n\
          The maximal allowed page size is 500. \n\nIf not set, 50 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EntityTypeList'
          description: Success
        "400":
          description: Failed. There are no more entity types to export.
      security:
      - Api-Token: []
      summary: Gets a list of properties for all entity types
      tags:
      - Monitored entities
      x-token-scopes:
      - '`entities.read` (Read entities)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /entities/custom:
    post:
      operationId: pushCustomDevice
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomDeviceCreation'
        description: The JSON body of the request. Contains parameters of a custom
          device.
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomDeviceCreationResult'
          description: Success
        "204":
          description: Success
        "400":
          description: Failed. The input is invalid.
      security:
      - Api-Token: []
      summary: Creates or updates a custom device
      tags:
      - Monitored entities
      x-token-scopes:
      - '`entities.write` (Write entities)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /events/ingest:
    post:
      description: "The ingestion of custom events consumes [Davis Data Units](https://dt-url.net/ddu)\
        \ (DDUs) from the events pool."
      operationId: createEvent
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/EventIngest'
        description: The JSON body of the request. Contains properties of the new
          event.
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventIngestResults'
          description: The event ingest request was received by the server. The response
            body indicates for each event whether its creation was successful.
      security:
      - Api-Token: []
      summary: Ingests a custom event
      tags:
      - Events
      x-token-scopes:
      - '`events.ingest` (Ingest events)'
      x-supports-personal-access-token: true
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json; charset=utf-8
  /events/{eventId}:
    get:
      operationId: getEvent
      parameters:
      - description: The ID of the required event.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success. The response contains the configuration of the event.
      security:
      - Api-Token: []
      summary: Gets the properties of an event
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /eventProperties:
    get:
      operationId: getEventProperties
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of event properties in a single response payload.\
          \ \n\nThe maximal allowed page size is 500. \n\nIf not set, 100 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventPropertyDetails'
          description: Success
      security:
      - Api-Token: []
      summary: Lists all event properties
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /eventProperties/{propertyKey}:
    get:
      operationId: getEventProperty
      parameters:
      - description: The event property key you're inquiring.
        explode: false
        in: path
        name: propertyKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventPropertyDetail'
          description: Success
      security:
      - Api-Token: []
      summary: Gets the details of an event property
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /eventTypes/{eventType}:
    get:
      operationId: getEventType
      parameters:
      - description: The event type you're inquiring.
        explode: false
        in: path
        name: eventType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventType'
          description: Success
      security:
      - Api-Token: []
      summary: Gets the properties of an event type
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /eventTypes:
    get:
      operationId: getEventTypes
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of event types in a single response payload. \n\n\
          The maximal allowed page size is 500. \n\nIf not set, 100 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventTypeList'
          description: Success
      security:
      - Api-Token: []
      summary: Lists all event types
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /events:
    get:
      operationId: getEvents
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of events in a single response payload. \n\nThe maximal\
          \ allowed page size is 1000. \n\nIf not set, 100 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start of the requested timeframe. \n\nYou can use one of\
          \ the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the relative timeframe of two hours is used (`now-2h`)."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe. \n\nYou can use one of the\
          \ following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Defines the scope of the query. Only events matching the specified\
          \ criteria are included in the response.\n\nYou can add one or several of\
          \ the criteria listed below. For each criterion you can specify multiple\
          \ comma-separated values, unless stated otherwise. If several values are\
          \ specified, the **OR** logic applies.\n* Event ID: `eventId(\"id-1\", \"\
          id-2\")`.\n* ID of related entity: `entityId(\"id-1\", \"id-2\")`.\n* Event\
          \ status: `status(\"OPEN\")` or `status(\"CLOSED\")`. You can specify only\
          \ one status.\n* Management zone ID: `managementZoneId(\"123\", \"321\"\
          )`.\n* Event type: `eventType(\"event-type\")`. You can specify only one\
          \ event type. You can fetch the list of possible event types with the [GET\
          \ event types](https://dt-url.net/qc03u6w) call. \n* Correlation ID: `correlationId(\"\
          id-1\", \"id-2\")`.\n* Happened during maintenance (true, false): `underMaintenance(true)`.\
          \ \n* Notifications are suppressed (true, false): `suppressAlert(true)`.\
          \ \n* Problem creation is suppressed (true, false): `suppressProblem(true)`.\
          \ \n* Frequent event (true, false): `frequentEvent(true)`. \n* Event property:\
          \ `property.<key>(\"value-1\", \"value-2\")`.\n\nTo set several criteria,\
          \ separate them with commas (`,`). Only results matching **all** criteria\
          \ are included in the response. \n\n"
        explode: true
        in: query
        name: eventSelector
        required: false
        schema:
          type: string
        style: form
      - description: "The entity scope of the query. You must set one of these criteria:\
          \ \n\n* Entity type: `type(\"TYPE\")` \n* Dynatrace entity ID: `entityId(\"\
          id\")`. You can specify several IDs, separated by a comma (`entityId(\"\
          id-1\",\"id-2\")`). All requested entities must be of the same type. \n\n\
          You can add one or several of the following criteria. Values are case-sensitive\
          \ and the `EQUALS` operator is used unless otherwise specified. \n\n* Tag:\
          \ `tag(\"value\")`. Tags in `[context]key:value`, `key:value`, and `value`\
          \ formats are detected and parsed automatically. Any colons (`:`) that are\
          \ part of the key or value must be escaped with a backslash(`\\`), otherwise,\
          \ it will be interpreted as the separator between the key and the value.\
          \ All tag values are case-sensitive. \n* Management zone ID: `mzId(123)`\
          \ \n* Management zone name: `mzName(\"value\")`\n* Entity name: \n\t* `entityName.equals`:\
          \ performs a non-casesensitive `EQUALS` query. \n\t* `entityName.startsWith`:\
          \ changes the operator to `BEGINS WITH`. \n\t* `entityName.in`: enables\
          \ you to provide multiple values. The `EQUALS` operator applies. \n\t* `caseSensitive(entityName.equals(\"\
          value\"))`: takes any entity name criterion as an arguments and makes the\
          \ value case-sensitive.\n* Health state (HEALTHY,UNHEALTHY): `healthState(\"\
          HEALTHY\")`\n* First seen timestamp: `firstSeenTms.<operator>(now-3h)`.\
          \ Use any timestamp format from the **from**/**to** parameters. \n\tThe\
          \ following operators are available:\n\t* `lte`: earlier than or at the\
          \ specified time\n\t* `lt`: earlier than the specified time\n\t* `gte`:\
          \ later than or at the specified time\n\t* `gt`: later than the specified\
          \ time\n* Entity attribute: `<attribute>(\"value1\",\"value2\")` and `<attribute>.exists()`.\
          \ To fetch the list of available attributes, execute the [GET entity type](https://dt-url.net/2ka3ivt)\
          \ request and check the **properties** field of the response. \n* Relationships:\
          \ `fromRelationships.<relationshipName>()` and `toRelationships.<relationshipName>()`.\
          \ The criterion takes an entity selector as an attribute. To fetch the list\
          \ of available relationships, execute the [GET entity type](https://dt-url.net/2ka3ivt)\
          \ request and check the **fromRelationships** and **toRelationships** fields.\n\
          * Negation: `not(<criterion>)`. Inverts any criterion except for **type**.\
          \ \n\nFor more information, see [Entity selector](https://dt-url.net/apientityselector)\
          \ in Dynatrace Documentation. \n\nTo set several criteria, separate them\
          \ with a comma (`,`). For example, `type(\"HOST\"),healthState(\"HEALTHY\"\
          )`. Only results matching **all** criteria are included in response. \n\n\
          Supported string length is 2,000 characters. \n\nThe number of entities\
          \ that can be selected is limited to 10000."
        explode: true
        in: query
        name: entitySelector
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventList'
          description: Success. The response contains the list of events.
      security:
      - Api-Token: []
      summary: Lists events within the specified timeframe
      tags:
      - Events
      x-token-scopes:
      - '`events.read` (Read events)'
      x-supports-personal-access-token: true
      x-accepts: application/json; charset=utf-8
  /metrics/{metricKey}:
    delete:
      description: Deletion cannot be undone! You can't delete a metric if it has
        data points ingested within the last two hours.
      operationId: delete
      parameters:
      - description: "The key of the required metric. \n\n"
        explode: false
        in: path
        name: metricKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Success. The deletion of the metric has been triggered.
        "400":
          description: Failed. The metric has been written within the last two hours.
        "404":
          description: Failed. The metric cannot be found or the key cannot be parsed.
        "500":
          description: Failed. The deletion of metric dimensions failed.
      security:
      - Api-Token: []
      summary: Deletes the specified metric
      tags:
      - Metrics
      x-token-scopes:
      - '`metrics.write` (Write metrics)'
      x-accepts: application/json
    get:
      operationId: metric
      parameters:
      - description: "The key of the required metric. \n\nYou can set additional transformation\
          \ operators, separated by a colon (`:`). See [Metrics selector transformations](https://dt-url.net/metricSelector)\
          \ in Dynatrace Documentation for additional information on available result\
          \ transformations and syntax."
        explode: false
        in: path
        name: metricKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptor'
            text/csv; header=present; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptor'
            text/csv; header=absent; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptor'
          description: Success
        "404":
          description: A metric has not been found.
        "406":
          description: Not acceptable. The requested media type is not supported.
            Check the **Accept** header of your request.
      security:
      - Api-Token: []
      summary: Gets the descriptor of the specified metric
      tags:
      - Metrics
      x-token-scopes:
      - '`metrics.read` (Read metrics)'
      x-accepts: "application/json; charset=utf-8,text/csv; header=absent; charset=utf-8,text/csv;\
        \ header=present; charset=utf-8"
  /metrics:
    get:
      description: "You can narrow down the output by selecting metrics in the **metricSelector**\
        \ field. \n\nYou can additionally limit the output by using pagination: \n\
        \n1. Specify the number of results per page in the **pageSize** query parameter.\
        \ \n\n2. Then use the cursor from the **nextPageKey** field of the response\
        \ in the **nextPageKey** query parameter to obtain subsequent pages. All other\
        \ query parameters must be omitted."
      operationId: allMetrics
      parameters:
      - description: "The cursor for the next page of results. You can find it in\
          \ the **nextPageKey** field of the previous response. \n\nThe first page\
          \ is always returned if you don't specify the **nextPageKey** query parameter.\
          \ \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must\
          \ omit all other query parameters. "
        explode: true
        in: query
        name: nextPageKey
        required: false
        schema:
          type: string
        style: form
      - description: "The amount of metric schemata in a single response payload.\
          \ \n\nThe maximal allowed page size is 500. \n\nIf not set, 100 is used.\n\
          \n If a value higher than 500 is used, only 500 results per page are returned."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Selects metrics for the query by their keys.\n\n You can specify\
          \ multiple metric keys separated by commas (for example, `metrickey1,metrickey2`).\
          \ To select multiple metrics belonging to the same parent, list the last\
          \ part of the required metric keys in parentheses, separated by commas,\
          \ while keeping the common part untouched. For example, to list the `builtin:host.cpu.idle`\
          \ and `builtin:host.cpu.user` metric, write: `builtin:host.cpu.(idle,user)`.\
          \ \n\nYou can select a full set of related metrics by using a trailing asterisk\
          \ (`*`) wildcard. For example, `builtin:host.*` selects all host-based metrics\
          \ and `builtin:*` selects all Dynatrace-provided metrics. \n\nYou can set\
          \ additional transformation operators, separated by a colon (`:`). See [Metrics\
          \ selector transformations](https://dt-url.net/metricSelector) in Dynatrace\
          \ Documentation for additional information on available result transformations\
          \ and syntax.\n\n Only `aggregation`, `merge`, `parents`, and `splitBy`\
          \ transformations are supported by this endpoint.\n\n If the metric key\
          \ contains any symbols you must quote (`\"`) the key. The following characters\
          \ inside of a quoted metric key must be escaped with a tilde (`~`):\n\n\
          * Quotes (`\"`)\n* Tildes (`~`) \n\nFor example, to query the metric with\
          \ the key of **ext:selfmonitoring.jmx.Agents: Type \"APACHE\"** you must\
          \ specify this selector: \n\n `\"ext:selfmonitoring.jmx.Agents: Type ~\"\
          APACHE~\"\"` \n\n\n\n To find metrics based on a search term, rather than\
          \ metricId, use the **text** query parameter instead of this one."
        explode: true
        in: query
        name: metricSelector
        required: false
        schema:
          type: string
        style: form
      - description: "Metric registry search term. Only show metrics that contain\
          \ the term in their key, display name, or description. Use the `metricSelector`\
          \ parameter instead of this one to select a complete metric hierarchy instead\
          \ of doing a text-based search."
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: "Defines the list of metric properties included in the response.\
          \ \n\n`metricId` is **always** included in the result. The following additional\
          \ properties are available: \n\n* `displayName`: The name of the metric\
          \ in the user interface. Enabled by default. \n* `description`: A short\
          \ description of the metric. Enabled by default. \n* `unit`: The unit of\
          \ the metric. Enabled by default. \n* `tags`: The tags of the metric. \n\
          + `dduBillable`:  An indicator whether the usage of metric consumes [Davis\
          \ data units](https://dt-url.net/ddu). \n* `created`:  The timestamp (UTC\
          \ milliseconds) when the metrics has been created. \n* `lastWritten`:  The\
          \ timestamp (UTC milliseconds) when metric data points have been written\
          \ for the last time. \n* `aggregationTypes`: The list of allowed aggregations\
          \ for the metric. Note that it may be different after a [transformation](https://dt-url.net/metricSelector)\
          \ is applied. \n* `defaultAggregation`: The default aggregation of the metric.\
          \ It is used when no aggregation is specified or the `:auto` transformation\
          \ is set. \n* `dimensionDefinitions`: The fine metric division (for example,\
          \ process group and process ID for some process-related metric). \n* `transformations`:\
          \ A list of [transformations](https://dt-url.net/metricSelector) that can\
          \ be applied to the metric.\n* `entityType`: A list of entity types supported\
          \ by the metric.\n* `minimumValue`: The minimum allowed value of the metric.\n\
          * `maximumValue`: The maximum allowed value of the metric.\n* `rootCauseRelevant`:\
          \ Whether (true or false) the metric is related to a root cause of a problem.\
          \ A root-cause relevant metric represents a strong indicator for a faulty\
          \ component.\n* `impactRelevant`: Whether (true or false) the metric is\
          \ relevant to a problem's impact. An impact-relevant metric is highly dependent\
          \ on other metrics and changes because an underlying root-cause metric has\
          \ changed.\n* `metricValueType`: The type of the metric's value. You have\
          \ these options:\n\t * `score`: A score metric is a metric where high values\
          \ indicate a good situation, while low values indicate trouble. An example\
          \ of such a metric is a success rate.\n\t * `error`: An error metric is\
          \ a metric where high values indicate trouble, while low values indicate\
          \ a good situation. An example of such a metric is an error count.\n* `latency`:\
          \ The latency of the metric, in minutes. The latency is the expected reporting\
          \ delay (for example, caused by constraints of cloud vendors or other third-party\
          \ data sources) between the observation of a metric data point and its availability\
          \ in Dynatrace. The allowed value range is from `1` to `60` minutes.\n*\
          \ `metricSelector`: The underlying metric selector used by a func: metric.\n\
          * `scalar`: Indicates whether the metric expression resolves to a scalar\
          \ (`true`) or to a series (`false`). \nA scalar result always contains one\
          \ data point. The amount of data points in a series result depends on the\
          \ resolution you're using. \n* `resolutionInfSupported`: If `true`, resolution=Inf\
          \ can be applied to the metric query. \n\nTo add properties, list them with\
          \ leading plus `+`. To exclude default properties, list them with leading\
          \ minus `-`.\n\nTo specify several properties, join them with a comma (for\
          \ example `fields=+aggregationTypes,-description`).\n\nIf you specify just\
          \ one property, the response contains the metric key and the specified property.\
          \ To return metric keys only, specify `metricId` here."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Filters the resulted set of metrics to those that have data\
          \ points within the specified timeframe. \n\nYou can use one of the following\
          \ formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format\
          \ of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC\
          \ is used. You can use a space character instead of the `T`. Seconds and\
          \ fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\n"
        explode: true
        in: query
        name: writtenSince
        required: false
        schema:
          type: string
        style: form
      - description: "The metadata scope of the query. Only metrics with specified\
          \ properties are included to the response. \n\nYou can set one or more of\
          \ the following criteria. Values are case-sensitive and the `EQUALS` operator\
          \ is used. If several values are specified, the **OR** logic applies. \n\
          \n* `unit(\"unit-1\",\"unit-2\")` \n* `tags(\"tag-1\",\"tag-2\")` \n* `dimensionKey(\"\
          dimkey-1\",\"dimkey-2\")`. The filtering applies only to dimensions that\
          \ were written within the last 14 days.\n\nTo set several criteria, separate\
          \ them with a comma (`,`). For example, `tags(\"feature\",\"cloud\"),unit(\"\
          Percent\"),dimensionKey(\"location\")`. Only results matching **all** criteria\
          \ are included in response. \n\nFor example, to list metrics that have the\
          \ tags **feature** AND **cloud** with a unit of **Percent** OR **MegaByte**\
          \ AND a dimension with a dimension key **location**, use this **metadataSelector**:\
          \ `tags(\"feature\"),unit(\"Percent\",\"MegaByte\"),tags(\"cloud\"),dimensionKey(\"\
          location\")`."
        explode: true
        in: query
        name: metadataSelector
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptorCollection'
            text/csv; header=present; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptorCollection'
            text/csv; header=absent; charset=utf-8:
              schema:
                $ref: '#/components/schemas/MetricDescriptorCollection'
          description: Success
        "400":
          description: Syntax or validation error. **metricSelector** or **fields**
            have syntactic or semantic errors.
        "404":
          description: A metric has not been found.
        "406":
          description: Not acceptable. The requested media type is not supported.
            Check the **Accept** header of your request.
      security:
      - Api-Token: []
      summary: Lists all available metrics
      tags:
      - Metrics
      x-token-scopes:
      - '`metrics.read` (Read metrics)'
      x-accepts: "application/json; charset=utf-8,text/csv; header=absent; charset=utf-8,text/csv;\
        \ header=present; charset=utf-8"
  /metrics/query:
    get:
      description: "The following limits apply: \n* The amount of aggregated data\
        \ points in the response is limited to 1,000 \n* The amount of series in the\
        \ response is limited to 1,000 \n   * The amount of data points per series\
        \ is limited to 10,080 (minutes of one week) \n   * The overall amount of\
        \ data points is limited to 100,000 \n\nThe **dataPointCountRatio** specifies\
        \ the ratio of queried data points divided by the maximum number of data points\
        \ per metric that are allowed in a single query.\nThe **dimensionCountRatio**\
        \ specifies the ratio of queried dimension tuples divided by the maximum number\
        \ of dimension tuples allowed in a single query."
      operationId: query
      parameters:
      - description: "Selects metrics for the query by their keys. You can select\
          \ up to 10 metrics for one query.\n\n You can specify multiple metric keys\
          \ separated by commas (for example, `metrickey1,metrickey2`). To select\
          \ multiple metrics belonging to the same parent, list the last part of the\
          \ required metric keys in parentheses, separated by commas, while keeping\
          \ the common part untouched. For example, to list the `builtin:host.cpu.idle`\
          \ and `builtin:host.cpu.user` metric, write: `builtin:host.cpu.(idle,user)`.\
          \ \n\n\n\n If the metric key contains any symbols you must quote (`\"`)\
          \ the key. The following characters inside of a quoted metric key must be\
          \ escaped with a tilde (`~`):\n\n* Quotes (`\"`)\n* Tildes (`~`) \n\nFor\
          \ example, to query the metric with the key of **ext:selfmonitoring.jmx.Agents:\
          \ Type \"APACHE\"** you must specify this selector: \n\n `\"ext:selfmonitoring.jmx.Agents:\
          \ Type ~\"APACHE~\"\"` \n\nYou can set additional transformation operators,\
          \ separated by a colon (`:`). See [Metrics selector transformations](https://dt-url.net/metricSelector)\
          \ in Dynatrace Documentation for additional information on available result\
          \ transformations and syntax."
        explode: true
        in: query
        name: metricSelector
        required: false
        schema:
          type: string
        style: form
      - description: "The desired resolution of data points. \n\nYou can use one of\
          \ the following options: \n* The desired amount of data points. This is\
          \ the default option. This is a reference number of points, which is not\
          \ necessarily equal to the number of the returned data points. \n* The desired\
          \ timespan between data points. This is a reference timespan, which is not\
          \ necessarily equal to the returned timespan. To use this option, specify\
          \ the unit of the timespan. \n\nValid units for the timespan are: \n* `m`:\
          \ minutes \n* `h`: hours \n* `d`: days \n* `w`: weeks \n* `M`: months \n\
          * `y`: years \n\nIf not set, the default is **120 data points**.\n\nFor\
          \ example: \n\n* Get data points which are 10 minutes apart: `resolution=10m`\
          \ \n* Get data points which are 3 weeks apart: `resolution=3w`"
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: string
        style: form
      - description: "The start of the requested timeframe. \n\nYou can use one of\
          \ the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the relative timeframe of two hours is used (`now-2h`)."
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "The end of the requested timeframe. \n\nYou can use one of the\
          \ following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable\
          \ format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified,\
          \ UTC is used. You can use a space character instead of the `T`. Seconds\
          \ and fractions of a second are optional. \n* Relative timeframe, back from\
          \ now. The format is `now-NU/A`, where `N` is the amount of time, `U` is\
          \ the unit of time, and `A` is an alignment. The alignment rounds all the\
          \ smaller values to the nearest zero in the past. For example, `now-1y/w`\
          \ is one year back, aligned by a week. \nYou can also specify relative timeframe\
          \ without an alignment: `now-NU`. \nSupported time units for the relative\
          \ timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days\
          \ \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set,\
          \ the current timestamp is used."
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: "Specifies the entity scope of the query. Only data points delivered\
          \ by matched entities are included in response. \n\nYou must set one of\
          \ these criteria: \n\n* Entity type: `type(\"TYPE\")` \n* Dynatrace entity\
          \ ID: `entityId(\"id\")`. You can specify several IDs, separated by a comma\
          \ (`entityId(\"id-1\",\"id-2\")`). All requested entities must be of the\
          \ same type. \n\nYou can add one or several of the following criteria. Values\
          \ are case-sensitive and the `EQUALS` operator is used unless otherwise\
          \ specified. \n\n* Tag: `tag(\"value\")`. Tags in `[context]key:value`,\
          \ `key:value`, and `value` formats are detected and parsed automatically.\
          \ Any colons (`:`) that are part of the key or value must be escaped with\
          \ a backslash(`\\`), otherwise, it will be interpreted as the separator\
          \ between the key and the value. All tag values are case-sensitive. \n*\
          \ Management zone ID: `mzId(123)` \n* Management zone name: `mzName(\"value\"\
          )`\n* Entity name: \n\t* `entityName.equals`: performs a non-casesensitive\
          \ `EQUALS` query. \n\t* `entityName.startsWith`: changes the operator to\
          \ `BEGINS WITH`. \n\t* `entityName.in`: enables you to provide multiple\
          \ values. The `EQUALS` operator applies. \n\t* `caseSensitive(entityName.equals(\"\
          value\"))`: takes any entity name criterion as an arguments and makes the\
[...]
