/*
 * Dynatrace Environment API
 *  Documentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress.   If you miss a resource, consider using the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k) .  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.envv2.api;

import com.dynatrace.apis.envv2.ApiClient;
import com.dynatrace.apis.envv2.ApiException;
import com.dynatrace.apis.envv2.ApiResponse;
import com.dynatrace.apis.envv2.Pair;

import com.dynatrace.apis.envv2.model.CountryList;
import com.dynatrace.apis.envv2.model.CountryListWithRegions;
import com.dynatrace.apis.envv2.model.CountryWithRegions;
import com.dynatrace.apis.envv2.model.CountryWithRegionsWithCities;
import com.dynatrace.apis.envv2.model.ErrorEnvelope;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:08:06.080821500+01:00[Europe/Brussels]")
public class GeographicRegionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public GeographicRegionsApi() {
    this(new ApiClient());
  }

  public GeographicRegionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Lists all cities of a country&#39;s region
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @param regionCode The code of the required region.    To fetch the list of available region codes, use the [GET regions of the country](https://dt-url.net/az230x0) request. (required)
   * @return CountryWithRegionsWithCities
   * @throws ApiException if fails to make API call
   */
  public CountryWithRegionsWithCities getCities(String countryCode, String regionCode) throws ApiException {
    ApiResponse<CountryWithRegionsWithCities> localVarResponse = getCitiesWithHttpInfo(countryCode, regionCode);
    return localVarResponse.getData();
  }

  /**
   * Lists all cities of a country&#39;s region
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @param regionCode The code of the required region.    To fetch the list of available region codes, use the [GET regions of the country](https://dt-url.net/az230x0) request. (required)
   * @return ApiResponse&lt;CountryWithRegionsWithCities&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CountryWithRegionsWithCities> getCitiesWithHttpInfo(String countryCode, String regionCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getCitiesRequestBuilder(countryCode, regionCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getCities", localVarResponse);
        }
        return new ApiResponse<CountryWithRegionsWithCities>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CountryWithRegionsWithCities>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getCitiesRequestBuilder(String countryCode, String regionCode) throws ApiException {
    // verify the required parameter 'countryCode' is set
    if (countryCode == null) {
      throw new ApiException(400, "Missing the required parameter 'countryCode' when calling getCities");
    }
    // verify the required parameter 'regionCode' is set
    if (regionCode == null) {
      throw new ApiException(400, "Missing the required parameter 'regionCode' when calling getCities");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/rum/cities/{countryCode}/{regionCode}"
        .replace("{countryCode}", ApiClient.urlEncode(countryCode.toString()))
        .replace("{regionCode}", ApiClient.urlEncode(regionCode.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all countries
   * 
   * @return CountryList
   * @throws ApiException if fails to make API call
   */
  public CountryList getCountries() throws ApiException {
    ApiResponse<CountryList> localVarResponse = getCountriesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all countries
   * 
   * @return ApiResponse&lt;CountryList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CountryList> getCountriesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getCountriesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getCountries", localVarResponse);
        }
        return new ApiResponse<CountryList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CountryList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getCountriesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/rum/countries";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all countries along with their regions
   * 
   * @return CountryListWithRegions
   * @throws ApiException if fails to make API call
   */
  public CountryListWithRegions getRegions() throws ApiException {
    ApiResponse<CountryListWithRegions> localVarResponse = getRegionsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all countries along with their regions
   * 
   * @return ApiResponse&lt;CountryListWithRegions&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CountryListWithRegions> getRegionsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRegionsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRegions", localVarResponse);
        }
        return new ApiResponse<CountryListWithRegions>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CountryListWithRegions>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRegionsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/rum/regions";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all cities of a country
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @return CountryWithRegionsWithCities
   * @throws ApiException if fails to make API call
   */
  public CountryWithRegionsWithCities getRegionsAndCities(String countryCode) throws ApiException {
    ApiResponse<CountryWithRegionsWithCities> localVarResponse = getRegionsAndCitiesWithHttpInfo(countryCode);
    return localVarResponse.getData();
  }

  /**
   * Lists all cities of a country
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @return ApiResponse&lt;CountryWithRegionsWithCities&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CountryWithRegionsWithCities> getRegionsAndCitiesWithHttpInfo(String countryCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRegionsAndCitiesRequestBuilder(countryCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRegionsAndCities", localVarResponse);
        }
        return new ApiResponse<CountryWithRegionsWithCities>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CountryWithRegionsWithCities>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRegionsAndCitiesRequestBuilder(String countryCode) throws ApiException {
    // verify the required parameter 'countryCode' is set
    if (countryCode == null) {
      throw new ApiException(400, "Missing the required parameter 'countryCode' when calling getRegionsAndCities");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/rum/cities/{countryCode}"
        .replace("{countryCode}", ApiClient.urlEncode(countryCode.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all regions of a country
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @return CountryWithRegions
   * @throws ApiException if fails to make API call
   */
  public CountryWithRegions getRegionsOfCountry(String countryCode) throws ApiException {
    ApiResponse<CountryWithRegions> localVarResponse = getRegionsOfCountryWithHttpInfo(countryCode);
    return localVarResponse.getData();
  }

  /**
   * Lists all regions of a country
   * 
   * @param countryCode The ISO code of the required country.    To fetch the list of available country codes, use the [GET all countries](https://dt-url.net/37030go) request. (required)
   * @return ApiResponse&lt;CountryWithRegions&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CountryWithRegions> getRegionsOfCountryWithHttpInfo(String countryCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRegionsOfCountryRequestBuilder(countryCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRegionsOfCountry", localVarResponse);
        }
        return new ApiResponse<CountryWithRegions>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CountryWithRegions>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRegionsOfCountryRequestBuilder(String countryCode) throws ApiException {
    // verify the required parameter 'countryCode' is set
    if (countryCode == null) {
      throw new ApiException(400, "Missing the required parameter 'countryCode' when calling getRegionsOfCountry");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/rum/regions/{countryCode}"
        .replace("{countryCode}", ApiClient.urlEncode(countryCode.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
