/*
 * Dynatrace Environment API
 *  Documentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress.   If you miss a resource, consider using the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k) .  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.envv2.api;

import com.dynatrace.apis.envv2.ApiClient;
import com.dynatrace.apis.envv2.ApiException;
import com.dynatrace.apis.envv2.ApiResponse;
import com.dynatrace.apis.envv2.Pair;

import com.dynatrace.apis.envv2.model.ErrorEnvelope;
import com.dynatrace.apis.envv2.model.ExtensionReleaseNotesDto;
import java.io.File;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:08:06.080821500+01:00[Europe/Brussels]")
public class HubCapabilitiesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public HubCapabilitiesApi() {
    this(new ApiClient());
  }

  public HubCapabilitiesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Sets or updates the release notes of the specified extension release | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param extensionFQN Fully qualified name of the extension (required)
   * @param extensionVersion Version of the extension release (required)
   * @param extensionReleaseNotesDto The JSON body of the request. Contains the markdown for release notes (optional)
   * @throws ApiException if fails to make API call
   */
  public void updateReleaseNotes(String extensionFQN, String extensionVersion, ExtensionReleaseNotesDto extensionReleaseNotesDto) throws ApiException {
    updateReleaseNotesWithHttpInfo(extensionFQN, extensionVersion, extensionReleaseNotesDto);
  }

  /**
   * Sets or updates the release notes of the specified extension release | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param extensionFQN Fully qualified name of the extension (required)
   * @param extensionVersion Version of the extension release (required)
   * @param extensionReleaseNotesDto The JSON body of the request. Contains the markdown for release notes (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> updateReleaseNotesWithHttpInfo(String extensionFQN, String extensionVersion, ExtensionReleaseNotesDto extensionReleaseNotesDto) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateReleaseNotesRequestBuilder(extensionFQN, extensionVersion, extensionReleaseNotesDto);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateReleaseNotes", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateReleaseNotesRequestBuilder(String extensionFQN, String extensionVersion, ExtensionReleaseNotesDto extensionReleaseNotesDto) throws ApiException {
    // verify the required parameter 'extensionFQN' is set
    if (extensionFQN == null) {
      throw new ApiException(400, "Missing the required parameter 'extensionFQN' when calling updateReleaseNotes");
    }
    // verify the required parameter 'extensionVersion' is set
    if (extensionVersion == null) {
      throw new ApiException(400, "Missing the required parameter 'extensionVersion' when calling updateReleaseNotes");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hub/capabilities/{extensionFQN}/releases/{extensionVersion}/releaseNotes"
        .replace("{extensionFQN}", ApiClient.urlEncode(extensionFQN.toString()))
        .replace("{extensionVersion}", ApiClient.urlEncode(extensionVersion.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(extensionReleaseNotesDto);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Create/Replace metadata for an extension that does not have Dynatrace distributed metadata. | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param extensionFQN Fully qualified name of the extension (required)
   * @param logo Logo of the extension (optional)
   * @param name If left empty or blank the extensionFQN will be used as name (optional)
   * @param description  (optional)
   * @throws ApiException if fails to make API call
   */
  public void uploadMetadataForExtension(String extensionFQN, File logo, String name, String description) throws ApiException {
    uploadMetadataForExtensionWithHttpInfo(extensionFQN, logo, name, description);
  }

  /**
   * Create/Replace metadata for an extension that does not have Dynatrace distributed metadata. | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param extensionFQN Fully qualified name of the extension (required)
   * @param logo Logo of the extension (optional)
   * @param name If left empty or blank the extensionFQN will be used as name (optional)
   * @param description  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> uploadMetadataForExtensionWithHttpInfo(String extensionFQN, File logo, String name, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = uploadMetadataForExtensionRequestBuilder(extensionFQN, logo, name, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("uploadMetadataForExtension", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder uploadMetadataForExtensionRequestBuilder(String extensionFQN, File logo, String name, String description) throws ApiException {
    // verify the required parameter 'extensionFQN' is set
    if (extensionFQN == null) {
      throw new ApiException(400, "Missing the required parameter 'extensionFQN' when calling uploadMetadataForExtension");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hub/capabilities/{extensionFQN}/metadata"
        .replace("{extensionFQN}", ApiClient.urlEncode(extensionFQN.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
