/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.AllowlistedAwsAccount;
import com.dynatrace.apis.configv1.model.AllowlistedAwsAccountList;
import com.dynatrace.apis.configv1.model.AwsPrivateLinkConfig;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class AwsPrivateLinkApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AwsPrivateLinkApi() {
    this(new ApiClient());
  }

  public AwsPrivateLinkApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Gets the information about all allowlisted accounts in AWS PrivateLink
   * Lists the account ids of all allowlisted accounts in AWS PrivateLink for this tenant
   * @return AllowlistedAwsAccountList
   * @throws ApiException if fails to make API call
   */
  public AllowlistedAwsAccountList getAllAllowlistedAccounts() throws ApiException {
    ApiResponse<AllowlistedAwsAccountList> localVarResponse = getAllAllowlistedAccountsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Gets the information about all allowlisted accounts in AWS PrivateLink
   * Lists the account ids of all allowlisted accounts in AWS PrivateLink for this tenant
   * @return ApiResponse&lt;AllowlistedAwsAccountList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AllowlistedAwsAccountList> getAllAllowlistedAccountsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAllAllowlistedAccountsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAllAllowlistedAccounts", localVarResponse);
        }
        return new ApiResponse<AllowlistedAwsAccountList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AllowlistedAwsAccountList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAllAllowlistedAccountsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/aws/privateLink/allowlistedAccounts";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the configuration information about AWS PrivateLink
   * Gets all configuration settings for AWS PrivateLink for this tenant
   * @return AwsPrivateLinkConfig
   * @throws ApiException if fails to make API call
   */
  public AwsPrivateLinkConfig getPrivateLinkConfig() throws ApiException {
    ApiResponse<AwsPrivateLinkConfig> localVarResponse = getPrivateLinkConfigWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Gets the configuration information about AWS PrivateLink
   * Gets all configuration settings for AWS PrivateLink for this tenant
   * @return ApiResponse&lt;AwsPrivateLinkConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsPrivateLinkConfig> getPrivateLinkConfigWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPrivateLinkConfigRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPrivateLinkConfig", localVarResponse);
        }
        return new ApiResponse<AwsPrivateLinkConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AwsPrivateLinkConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPrivateLinkConfigRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/aws/privateLink";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the given AWS account id in the allowlist in AWS PrivateLink
   * Updates the given AWS account id in the allowlisted accounts in AWS PrivateLink for this tenant
   * @param id The AWS account id to be updated in the AWS PrivateLink allowlist, has to match the id in the provided payload. (required)
   * @param allowlistedAwsAccount The AWS account id to be updated in the AWS PrivateLink allowlist, has to match the id in the path. (required)
   * @return AllowlistedAwsAccount
   * @throws ApiException if fails to make API call
   */
  public AllowlistedAwsAccount putAllowlistedAccount(String id, AllowlistedAwsAccount allowlistedAwsAccount) throws ApiException {
    ApiResponse<AllowlistedAwsAccount> localVarResponse = putAllowlistedAccountWithHttpInfo(id, allowlistedAwsAccount);
    return localVarResponse.getData();
  }

  /**
   * Updates the given AWS account id in the allowlist in AWS PrivateLink
   * Updates the given AWS account id in the allowlisted accounts in AWS PrivateLink for this tenant
   * @param id The AWS account id to be updated in the AWS PrivateLink allowlist, has to match the id in the provided payload. (required)
   * @param allowlistedAwsAccount The AWS account id to be updated in the AWS PrivateLink allowlist, has to match the id in the path. (required)
   * @return ApiResponse&lt;AllowlistedAwsAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AllowlistedAwsAccount> putAllowlistedAccountWithHttpInfo(String id, AllowlistedAwsAccount allowlistedAwsAccount) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putAllowlistedAccountRequestBuilder(id, allowlistedAwsAccount);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putAllowlistedAccount", localVarResponse);
        }
        return new ApiResponse<AllowlistedAwsAccount>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AllowlistedAwsAccount>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putAllowlistedAccountRequestBuilder(String id, AllowlistedAwsAccount allowlistedAwsAccount) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling putAllowlistedAccount");
    }
    // verify the required parameter 'allowlistedAwsAccount' is set
    if (allowlistedAwsAccount == null) {
      throw new ApiException(400, "Missing the required parameter 'allowlistedAwsAccount' when calling putAllowlistedAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/aws/privateLink/allowlistedAccounts/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(allowlistedAwsAccount);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the configuration information about AWS PrivateLink
   * Updates the configuration settings for AWS PrivateLink for this tenant
   * @param awsPrivateLinkConfig The AWS PrivateLink configuration. (required)
   * @return AwsPrivateLinkConfig
   * @throws ApiException if fails to make API call
   */
  public AwsPrivateLinkConfig putPrivateLinkConfig(AwsPrivateLinkConfig awsPrivateLinkConfig) throws ApiException {
    ApiResponse<AwsPrivateLinkConfig> localVarResponse = putPrivateLinkConfigWithHttpInfo(awsPrivateLinkConfig);
    return localVarResponse.getData();
  }

  /**
   * Updates the configuration information about AWS PrivateLink
   * Updates the configuration settings for AWS PrivateLink for this tenant
   * @param awsPrivateLinkConfig The AWS PrivateLink configuration. (required)
   * @return ApiResponse&lt;AwsPrivateLinkConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsPrivateLinkConfig> putPrivateLinkConfigWithHttpInfo(AwsPrivateLinkConfig awsPrivateLinkConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putPrivateLinkConfigRequestBuilder(awsPrivateLinkConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putPrivateLinkConfig", localVarResponse);
        }
        return new ApiResponse<AwsPrivateLinkConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AwsPrivateLinkConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putPrivateLinkConfigRequestBuilder(AwsPrivateLinkConfig awsPrivateLinkConfig) throws ApiException {
    // verify the required parameter 'awsPrivateLinkConfig' is set
    if (awsPrivateLinkConfig == null) {
      throw new ApiException(400, "Missing the required parameter 'awsPrivateLinkConfig' when calling putPrivateLinkConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/aws/privateLink";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(awsPrivateLinkConfig);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Removes one AWS account from the allowlist in AWS PrivateLink
   * Removes the given AWS account id from the allowlisted accounts in AWS PrivateLink for this tenant
   * @param id The AWS account id to be deleted from the AWS PrivateLink allowlist (required)
   * @throws ApiException if fails to make API call
   */
  public void removeAllowlistedAccount(String id) throws ApiException {
    removeAllowlistedAccountWithHttpInfo(id);
  }

  /**
   * Removes one AWS account from the allowlist in AWS PrivateLink
   * Removes the given AWS account id from the allowlisted accounts in AWS PrivateLink for this tenant
   * @param id The AWS account id to be deleted from the AWS PrivateLink allowlist (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> removeAllowlistedAccountWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = removeAllowlistedAccountRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("removeAllowlistedAccount", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder removeAllowlistedAccountRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling removeAllowlistedAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/aws/privateLink/allowlistedAccounts/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
