/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.EntityShortRepresentation;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.LogMetricConfig;
import com.dynatrace.apis.configv1.model.StubList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class CalculatedMetricsLogMonitoringApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public CalculatedMetricsLogMonitoringApi() {
    this(new ApiClient());
  }

  public CalculatedMetricsLogMonitoringApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Deletes the specified custom log metric definition | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the custom log metric to be deleted. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteLogMetricConfig(String metricKey) throws ApiException {
    deleteLogMetricConfigWithHttpInfo(metricKey);
  }

  /**
   * Deletes the specified custom log metric definition | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the custom log metric to be deleted. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteLogMetricConfigWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteLogMetricConfigRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteLogMetricConfig", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteLogMetricConfigRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling deleteLogMetricConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/log/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "*/*");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the definition of the specified custom log metric | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the required custom log metric. (required)
   * @return LogMetricConfig
   * @throws ApiException if fails to make API call
   */
  public LogMetricConfig getLogMetricConfig(String metricKey) throws ApiException {
    ApiResponse<LogMetricConfig> localVarResponse = getLogMetricConfigWithHttpInfo(metricKey);
    return localVarResponse.getData();
  }

  /**
   * Gets the definition of the specified custom log metric | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the required custom log metric. (required)
   * @return ApiResponse&lt;LogMetricConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LogMetricConfig> getLogMetricConfigWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getLogMetricConfigRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getLogMetricConfig", localVarResponse);
        }
        return new ApiResponse<LogMetricConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LogMetricConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getLogMetricConfigRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling getLogMetricConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/log/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all custom log metrics configured in your environment | maturity&#x3D;EARLY_ADOPTER
   * 
   * @return StubList
   * @throws ApiException if fails to make API call
   */
  public StubList listLogMetricConfigs() throws ApiException {
    ApiResponse<StubList> localVarResponse = listLogMetricConfigsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all custom log metrics configured in your environment | maturity&#x3D;EARLY_ADOPTER
   * 
   * @return ApiResponse&lt;StubList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<StubList> listLogMetricConfigsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listLogMetricConfigsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listLogMetricConfigs", localVarResponse);
        }
        return new ApiResponse<StubList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<StubList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listLogMetricConfigsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/log";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Creates a new custom log metric | maturity&#x3D;EARLY_ADOPTER
   * If the metric definition with the specified key already exists, it is updated.
   * @param metricKey The required key of the custom log metric. The key must have the &#x60;calc:log.&#x60; prefix.    The key in the body of the request must match this key. (required)
   * @param logMetricConfig The JSON body of the request. Contains the definition of the custom log metric. (optional)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation updateOrCreateLogMetricConfig(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = updateOrCreateLogMetricConfigWithHttpInfo(metricKey, logMetricConfig);
    return localVarResponse.getData();
  }

  /**
   * Creates a new custom log metric | maturity&#x3D;EARLY_ADOPTER
   * If the metric definition with the specified key already exists, it is updated.
   * @param metricKey The required key of the custom log metric. The key must have the &#x60;calc:log.&#x60; prefix.    The key in the body of the request must match this key. (required)
   * @param logMetricConfig The JSON body of the request. Contains the definition of the custom log metric. (optional)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> updateOrCreateLogMetricConfigWithHttpInfo(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateOrCreateLogMetricConfigRequestBuilder(metricKey, logMetricConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateOrCreateLogMetricConfig", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateOrCreateLogMetricConfigRequestBuilder(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling updateOrCreateLogMetricConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/log/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(logMetricConfig);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/log/{metricKey}&#x60; request. | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the custom log metric to be validated. (required)
   * @param logMetricConfig The JSON body of the request. Contains definition of the custom log metric to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateMetric(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    validateMetricWithHttpInfo(metricKey, logMetricConfig);
  }

  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/log/{metricKey}&#x60; request. | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param metricKey The key of the custom log metric to be validated. (required)
   * @param logMetricConfig The JSON body of the request. Contains definition of the custom log metric to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateMetricWithHttpInfo(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateMetricRequestBuilder(metricKey, logMetricConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateMetricRequestBuilder(String metricKey, LogMetricConfig logMetricConfig) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling validateMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/log/{metricKey}/validator"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(logMetricConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
