/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.CalculatedServiceMetric;
import com.dynatrace.apis.configv1.model.EntityShortRepresentation;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.StubList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class CalculatedMetricsServicesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public CalculatedMetricsServicesApi() {
    this(new ApiClient());
  }

  public CalculatedMetricsServicesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Creates a new calculated service metric
   * 
   * @param calculatedServiceMetric The JSON body of the request. Contains parameters of the new calculated service metric. (required)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation createServiceMetric(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = createServiceMetricWithHttpInfo(calculatedServiceMetric);
    return localVarResponse.getData();
  }

  /**
   * Creates a new calculated service metric
   * 
   * @param calculatedServiceMetric The JSON body of the request. Contains parameters of the new calculated service metric. (required)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> createServiceMetricWithHttpInfo(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createServiceMetricRequestBuilder(calculatedServiceMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createServiceMetric", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createServiceMetricRequestBuilder(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    // verify the required parameter 'calculatedServiceMetric' is set
    if (calculatedServiceMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'calculatedServiceMetric' when calling createServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedServiceMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deletes the specified calculated service metric
   * 
   * @param metricKey The key of the calculated service metric to be deleted. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteServiceMetric(String metricKey) throws ApiException {
    deleteServiceMetricWithHttpInfo(metricKey);
  }

  /**
   * Deletes the specified calculated service metric
   * 
   * @param metricKey The key of the calculated service metric to be deleted. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteServiceMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteServiceMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteServiceMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteServiceMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling deleteServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the descriptor of the specified calculated service metric
   * 
   * @param metricKey The key of the required calculated service metric. (required)
   * @return CalculatedServiceMetric
   * @throws ApiException if fails to make API call
   */
  public CalculatedServiceMetric getServiceMetric(String metricKey) throws ApiException {
    ApiResponse<CalculatedServiceMetric> localVarResponse = getServiceMetricWithHttpInfo(metricKey);
    return localVarResponse.getData();
  }

  /**
   * Gets the descriptor of the specified calculated service metric
   * 
   * @param metricKey The key of the required calculated service metric. (required)
   * @return ApiResponse&lt;CalculatedServiceMetric&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CalculatedServiceMetric> getServiceMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getServiceMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getServiceMetric", localVarResponse);
        }
        return new ApiResponse<CalculatedServiceMetric>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CalculatedServiceMetric>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getServiceMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling getServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all calculated service metrics configured in your environment
   * 
   * @return StubList
   * @throws ApiException if fails to make API call
   */
  public StubList listServiceMetrics() throws ApiException {
    ApiResponse<StubList> localVarResponse = listServiceMetricsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all calculated service metrics configured in your environment
   * 
   * @return ApiResponse&lt;StubList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<StubList> listServiceMetricsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listServiceMetricsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listServiceMetrics", localVarResponse);
        }
        return new ApiResponse<StubList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<StubList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listServiceMetricsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the specified calculated service metric
   * If the calculated service metric with the specified key doesn&#39;t exist, a new metric is created.
   * @param metricKey The key of the calculated service metric to be updated.    The key of the calculated service metric in the body of the request must match this key. (required)
   * @param calculatedServiceMetric The JSON body of the request. Contains updated parameters of the calculated service metric. (required)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation updateServiceMetric(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = updateServiceMetricWithHttpInfo(metricKey, calculatedServiceMetric);
    return localVarResponse.getData();
  }

  /**
   * Updates the specified calculated service metric
   * If the calculated service metric with the specified key doesn&#39;t exist, a new metric is created.
   * @param metricKey The key of the calculated service metric to be updated.    The key of the calculated service metric in the body of the request must match this key. (required)
   * @param calculatedServiceMetric The JSON body of the request. Contains updated parameters of the calculated service metric. (required)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> updateServiceMetricWithHttpInfo(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateServiceMetricRequestBuilder(metricKey, calculatedServiceMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateServiceMetric", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateServiceMetricRequestBuilder(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling updateServiceMetric");
    }
    // verify the required parameter 'calculatedServiceMetric' is set
    if (calculatedServiceMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'calculatedServiceMetric' when calling updateServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedServiceMetric);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;POST /calculatedMetric/service&#x60; request
   * 
   * @param calculatedServiceMetric The JSON body of the request. Contains the calculated service metric to be validated. (required)
   * @throws ApiException if fails to make API call
   */
  public void validateCreateServiceMetric(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    validateCreateServiceMetricWithHttpInfo(calculatedServiceMetric);
  }

  /**
   * Validates the payload for the &#x60;POST /calculatedMetric/service&#x60; request
   * 
   * @param calculatedServiceMetric The JSON body of the request. Contains the calculated service metric to be validated. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateCreateServiceMetricWithHttpInfo(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateCreateServiceMetricRequestBuilder(calculatedServiceMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateCreateServiceMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateCreateServiceMetricRequestBuilder(CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    // verify the required parameter 'calculatedServiceMetric' is set
    if (calculatedServiceMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'calculatedServiceMetric' when calling validateCreateServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service/validator";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedServiceMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /calculatedMetric/service/{id}&#x60; request
   * 
   * @param metricKey The key of the calculated service metric to be validated .   The key of the metric in the body of the request must match this key. (required)
   * @param calculatedServiceMetric The JSON body of the request. Contains the calculated service metric to be validated. (required)
   * @throws ApiException if fails to make API call
   */
  public void validateUpdateServiceMetric(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    validateUpdateServiceMetricWithHttpInfo(metricKey, calculatedServiceMetric);
  }

  /**
   * Validates the payload for the &#x60;PUT /calculatedMetric/service/{id}&#x60; request
   * 
   * @param metricKey The key of the calculated service metric to be validated .   The key of the metric in the body of the request must match this key. (required)
   * @param calculatedServiceMetric The JSON body of the request. Contains the calculated service metric to be validated. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateUpdateServiceMetricWithHttpInfo(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateUpdateServiceMetricRequestBuilder(metricKey, calculatedServiceMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateUpdateServiceMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateUpdateServiceMetricRequestBuilder(String metricKey, CalculatedServiceMetric calculatedServiceMetric) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling validateUpdateServiceMetric");
    }
    // verify the required parameter 'calculatedServiceMetric' is set
    if (calculatedServiceMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'calculatedServiceMetric' when calling validateUpdateServiceMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/service/{metricKey}/validator"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedServiceMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
