/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.EntityShortRepresentation;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.StubList;
import com.dynatrace.apis.configv1.model.WebApplicationMetric;
import com.dynatrace.apis.configv1.model.WebApplicationMetricUpdate;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class CalculatedMetricsWebApplicationsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public CalculatedMetricsWebApplicationsApi() {
    this(new ApiClient());
  }

  public CalculatedMetricsWebApplicationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Creates a new calculated web application metric
   * 
   * @param webApplicationMetric The JSON body of the request. Contains the descriptor of the new calculated web application metric. (required)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation createRumMetric(WebApplicationMetric webApplicationMetric) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = createRumMetricWithHttpInfo(webApplicationMetric);
    return localVarResponse.getData();
  }

  /**
   * Creates a new calculated web application metric
   * 
   * @param webApplicationMetric The JSON body of the request. Contains the descriptor of the new calculated web application metric. (required)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> createRumMetricWithHttpInfo(WebApplicationMetric webApplicationMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createRumMetricRequestBuilder(webApplicationMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createRumMetric", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createRumMetricRequestBuilder(WebApplicationMetric webApplicationMetric) throws ApiException {
    // verify the required parameter 'webApplicationMetric' is set
    if (webApplicationMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'webApplicationMetric' when calling createRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(webApplicationMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deletes the specified calculated web application metric
   * 
   * @param metricKey The key of the metric to be deleted. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteRumMetric(String metricKey) throws ApiException {
    deleteRumMetricWithHttpInfo(metricKey);
  }

  /**
   * Deletes the specified calculated web application metric
   * 
   * @param metricKey The key of the metric to be deleted. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteRumMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteRumMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteRumMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteRumMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling deleteRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the descriptor of the specified calculated web application metric
   * 
   * @param metricKey The key of the required metric. (required)
   * @return WebApplicationMetric
   * @throws ApiException if fails to make API call
   */
  public WebApplicationMetric getRumMetric(String metricKey) throws ApiException {
    ApiResponse<WebApplicationMetric> localVarResponse = getRumMetricWithHttpInfo(metricKey);
    return localVarResponse.getData();
  }

  /**
   * Gets the descriptor of the specified calculated web application metric
   * 
   * @param metricKey The key of the required metric. (required)
   * @return ApiResponse&lt;WebApplicationMetric&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WebApplicationMetric> getRumMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRumMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRumMetric", localVarResponse);
        }
        return new ApiResponse<WebApplicationMetric>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<WebApplicationMetric>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRumMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling getRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all calculated web application metrics
   * 
   * @return StubList
   * @throws ApiException if fails to make API call
   */
  public StubList listRumMetrics() throws ApiException {
    ApiResponse<StubList> localVarResponse = listRumMetricsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all calculated web application metrics
   * 
   * @return ApiResponse&lt;StubList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<StubList> listRumMetricsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listRumMetricsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listRumMetrics", localVarResponse);
        }
        return new ApiResponse<StubList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<StubList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listRumMetricsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the specified calculated web application metric
   * 
   * @param metricKey The key of the calculated web application metric to be updated. (required)
   * @param webApplicationMetricUpdate The JSON body of the request. Contains the updated parameters of the calculated web application metric. (required)
   * @throws ApiException if fails to make API call
   */
  public void updateRumMetric(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    updateRumMetricWithHttpInfo(metricKey, webApplicationMetricUpdate);
  }

  /**
   * Updates the specified calculated web application metric
   * 
   * @param metricKey The key of the calculated web application metric to be updated. (required)
   * @param webApplicationMetricUpdate The JSON body of the request. Contains the updated parameters of the calculated web application metric. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> updateRumMetricWithHttpInfo(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateRumMetricRequestBuilder(metricKey, webApplicationMetricUpdate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateRumMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateRumMetricRequestBuilder(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling updateRumMetric");
    }
    // verify the required parameter 'webApplicationMetricUpdate' is set
    if (webApplicationMetricUpdate == null) {
      throw new ApiException(400, "Missing the required parameter 'webApplicationMetricUpdate' when calling updateRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(webApplicationMetricUpdate);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;POST /calculatedMetrics/rum&#x60; request
   * The body must not provide an ID.
   * @param webApplicationMetric The JSON body of the request. Contains the descriptor of the metric to be validated. (required)
   * @throws ApiException if fails to make API call
   */
  public void validateCreateRumMetric(WebApplicationMetric webApplicationMetric) throws ApiException {
    validateCreateRumMetricWithHttpInfo(webApplicationMetric);
  }

  /**
   * Validates the payload for the &#x60;POST /calculatedMetrics/rum&#x60; request
   * The body must not provide an ID.
   * @param webApplicationMetric The JSON body of the request. Contains the descriptor of the metric to be validated. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateCreateRumMetricWithHttpInfo(WebApplicationMetric webApplicationMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateCreateRumMetricRequestBuilder(webApplicationMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateCreateRumMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateCreateRumMetricRequestBuilder(WebApplicationMetric webApplicationMetric) throws ApiException {
    // verify the required parameter 'webApplicationMetric' is set
    if (webApplicationMetric == null) {
      throw new ApiException(400, "Missing the required parameter 'webApplicationMetric' when calling validateCreateRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum/validator";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(webApplicationMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/rum/{metricKey}&#x60; request
   * 
   * @param metricKey The key of the calculated web application metric to be validated. (required)
   * @param webApplicationMetricUpdate The JSON body of the request. Contains the descriptor of the metric to be validated. (required)
   * @throws ApiException if fails to make API call
   */
  public void validateUpdateRumMetric(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    validateUpdateRumMetricWithHttpInfo(metricKey, webApplicationMetricUpdate);
  }

  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/rum/{metricKey}&#x60; request
   * 
   * @param metricKey The key of the calculated web application metric to be validated. (required)
   * @param webApplicationMetricUpdate The JSON body of the request. Contains the descriptor of the metric to be validated. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateUpdateRumMetricWithHttpInfo(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateUpdateRumMetricRequestBuilder(metricKey, webApplicationMetricUpdate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateUpdateRumMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateUpdateRumMetricRequestBuilder(String metricKey, WebApplicationMetricUpdate webApplicationMetricUpdate) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling validateUpdateRumMetric");
    }
    // verify the required parameter 'webApplicationMetricUpdate' is set
    if (webApplicationMetricUpdate == null) {
      throw new ApiException(400, "Missing the required parameter 'webApplicationMetricUpdate' when calling validateUpdateRumMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/rum/{metricKey}/validator"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(webApplicationMetricUpdate);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
