/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.CalculatedMobileMetric;
import com.dynatrace.apis.configv1.model.CalculatedMobileMetricUpdate;
import com.dynatrace.apis.configv1.model.EntityShortRepresentation;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.StubList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class CalculatedMetricsMobileCustomApplicationsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public CalculatedMetricsMobileCustomApplicationsApi() {
    this(new ApiClient());
  }

  public CalculatedMetricsMobileCustomApplicationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Creates a new calculated metric for a mobile or custom app
   * 
   * @param calculatedMobileMetric The JSON body of the request. Contains the definition of the new calculated metric for mobile or custom app. (optional)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation createMobileMetric(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = createMobileMetricWithHttpInfo(calculatedMobileMetric);
    return localVarResponse.getData();
  }

  /**
   * Creates a new calculated metric for a mobile or custom app
   * 
   * @param calculatedMobileMetric The JSON body of the request. Contains the definition of the new calculated metric for mobile or custom app. (optional)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> createMobileMetricWithHttpInfo(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createMobileMetricRequestBuilder(calculatedMobileMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createMobileMetric", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createMobileMetricRequestBuilder(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedMobileMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deletes the specified calculated metric for mobile or custom app
   * 
   * @param metricKey The key of the metric to be deleted. (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteMobileMetric(String metricKey) throws ApiException {
    deleteMobileMetricWithHttpInfo(metricKey);
  }

  /**
   * Deletes the specified calculated metric for mobile or custom app
   * 
   * @param metricKey The key of the metric to be deleted. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteMobileMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteMobileMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteMobileMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteMobileMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling deleteMobileMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the descriptor of the specified calculated metric for mobile or custom app
   * 
   * @param metricKey The key of the required metric. (required)
   * @return CalculatedMobileMetric
   * @throws ApiException if fails to make API call
   */
  public CalculatedMobileMetric getMobileMetric(String metricKey) throws ApiException {
    ApiResponse<CalculatedMobileMetric> localVarResponse = getMobileMetricWithHttpInfo(metricKey);
    return localVarResponse.getData();
  }

  /**
   * Gets the descriptor of the specified calculated metric for mobile or custom app
   * 
   * @param metricKey The key of the required metric. (required)
   * @return ApiResponse&lt;CalculatedMobileMetric&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CalculatedMobileMetric> getMobileMetricWithHttpInfo(String metricKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getMobileMetricRequestBuilder(metricKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getMobileMetric", localVarResponse);
        }
        return new ApiResponse<CalculatedMobileMetric>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CalculatedMobileMetric>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getMobileMetricRequestBuilder(String metricKey) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling getMobileMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all calculated metrics for mobile and custom apps configured in your environment
   * 
   * @return StubList
   * @throws ApiException if fails to make API call
   */
  public StubList listMobileMetrics() throws ApiException {
    ApiResponse<StubList> localVarResponse = listMobileMetricsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all calculated metrics for mobile and custom apps configured in your environment
   * 
   * @return ApiResponse&lt;StubList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<StubList> listMobileMetricsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listMobileMetricsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listMobileMetrics", localVarResponse);
        }
        return new ApiResponse<StubList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<StubList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listMobileMetricsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the specified calculated metric for a mobile or custom app
   * 
   * @param metricKey The key of the metric to be updated. (required)
   * @param calculatedMobileMetricUpdate The JSON body of the request. Contains the updated definition of the calculated mobile metric. (optional)
   * @throws ApiException if fails to make API call
   */
  public void updateMobileMetric(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    updateMobileMetricWithHttpInfo(metricKey, calculatedMobileMetricUpdate);
  }

  /**
   * Updates the specified calculated metric for a mobile or custom app
   * 
   * @param metricKey The key of the metric to be updated. (required)
   * @param calculatedMobileMetricUpdate The JSON body of the request. Contains the updated definition of the calculated mobile metric. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> updateMobileMetricWithHttpInfo(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateMobileMetricRequestBuilder(metricKey, calculatedMobileMetricUpdate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateMobileMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateMobileMetricRequestBuilder(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling updateMobileMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile/{metricKey}"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedMobileMetricUpdate);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;POST /calculatedMetrics/mobile&#x60; request
   * 
   * @param calculatedMobileMetric The JSON body of the request. Contains the definition of the metric to be validated.   The key of the metric must be omitted. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateCreateMobileMetric(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {
    validateCreateMobileMetricWithHttpInfo(calculatedMobileMetric);
  }

  /**
   * Validates the payload for the &#x60;POST /calculatedMetrics/mobile&#x60; request
   * 
   * @param calculatedMobileMetric The JSON body of the request. Contains the definition of the metric to be validated.   The key of the metric must be omitted. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateCreateMobileMetricWithHttpInfo(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateCreateMobileMetricRequestBuilder(calculatedMobileMetric);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateCreateMobileMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateCreateMobileMetricRequestBuilder(CalculatedMobileMetric calculatedMobileMetric) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile/validator";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedMobileMetric);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/mobile/{metricKey}&#x60; request
   * 
   * @param metricKey The key of the metric to be validated. (required)
   * @param calculatedMobileMetricUpdate The JSON body of the request. Contains the definition of the metric to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateUpdateMobileMetric(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    validateUpdateMobileMetricWithHttpInfo(metricKey, calculatedMobileMetricUpdate);
  }

  /**
   * Validates the payload for the &#x60;PUT /calculatedMetrics/mobile/{metricKey}&#x60; request
   * 
   * @param metricKey The key of the metric to be validated. (required)
   * @param calculatedMobileMetricUpdate The JSON body of the request. Contains the definition of the metric to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateUpdateMobileMetricWithHttpInfo(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateUpdateMobileMetricRequestBuilder(metricKey, calculatedMobileMetricUpdate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateUpdateMobileMetric", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateUpdateMobileMetricRequestBuilder(String metricKey, CalculatedMobileMetricUpdate calculatedMobileMetricUpdate) throws ApiException {
    // verify the required parameter 'metricKey' is set
    if (metricKey == null) {
      throw new ApiException(400, "Missing the required parameter 'metricKey' when calling validateUpdateMobileMetric");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/calculatedMetrics/mobile/{metricKey}/validator"
        .replace("{metricKey}", ApiClient.urlEncode(metricKey.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calculatedMobileMetricUpdate);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
