/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.HostAutoUpdateConfig;
import com.dynatrace.apis.configv1.model.HostConfig;
import com.dynatrace.apis.configv1.model.MonitoringConfig;
import com.dynatrace.apis.configv1.model.TechMonitoringList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class OneAgentOnAHostApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OneAgentOnAHostApi() {
    this(new ApiClient());
  }

  public OneAgentOnAHostApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Gets the configuration of OneAgent auto-update on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return HostAutoUpdateConfig
   * @throws ApiException if fails to make API call
   */
  public HostAutoUpdateConfig getAutoUpdateConfig1(String id) throws ApiException {
    ApiResponse<HostAutoUpdateConfig> localVarResponse = getAutoUpdateConfig1WithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the configuration of OneAgent auto-update on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return ApiResponse&lt;HostAutoUpdateConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<HostAutoUpdateConfig> getAutoUpdateConfig1WithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAutoUpdateConfig1RequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAutoUpdateConfig1", localVarResponse);
        }
        return new ApiResponse<HostAutoUpdateConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<HostAutoUpdateConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAutoUpdateConfig1RequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAutoUpdateConfig1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/autoupdate"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the OneAgent configuration on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return HostConfig
   * @throws ApiException if fails to make API call
   */
  public HostConfig getHostConfig(String id) throws ApiException {
    ApiResponse<HostConfig> localVarResponse = getHostConfigWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the OneAgent configuration on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return ApiResponse&lt;HostConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<HostConfig> getHostConfigWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getHostConfigRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getHostConfig", localVarResponse);
        }
        return new ApiResponse<HostConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<HostConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getHostConfigRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getHostConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Gets the monitoring configuration of OneAgent on the specified host
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return MonitoringConfig
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public MonitoringConfig getMonitoringConfig(String id) throws ApiException {
    ApiResponse<MonitoringConfig> localVarResponse = getMonitoringConfigWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Gets the monitoring configuration of OneAgent on the specified host
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return ApiResponse&lt;MonitoringConfig&gt;
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public ApiResponse<MonitoringConfig> getMonitoringConfigWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getMonitoringConfigRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getMonitoringConfig", localVarResponse);
        }
        return new ApiResponse<MonitoringConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MonitoringConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getMonitoringConfigRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getMonitoringConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/monitoring"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the configuration of monitored technologies on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return TechMonitoringList
   * @throws ApiException if fails to make API call
   */
  public TechMonitoringList getTechHostConfigs(String id) throws ApiException {
    ApiResponse<TechMonitoringList> localVarResponse = getTechHostConfigsWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the configuration of monitored technologies on the specified host
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @return ApiResponse&lt;TechMonitoringList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TechMonitoringList> getTechHostConfigsWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTechHostConfigsRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTechHostConfigs", localVarResponse);
        }
        return new ApiResponse<TechMonitoringList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<TechMonitoringList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTechHostConfigsRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getTechHostConfigs");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/technologies"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the configuration of OneAgent auto-update on the specified host
   * OneAgent is updated several minutes after the change of configuration.   The process can take more time depending on number of OneAgents in the update queue.
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param hostAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters. (optional)
   * @throws ApiException if fails to make API call
   */
  public void updateAutoUpdateConfig(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    updateAutoUpdateConfigWithHttpInfo(id, hostAutoUpdateConfig);
  }

  /**
   * Updates the configuration of OneAgent auto-update on the specified host
   * OneAgent is updated several minutes after the change of configuration.   The process can take more time depending on number of OneAgents in the update queue.
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param hostAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> updateAutoUpdateConfigWithHttpInfo(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateAutoUpdateConfigRequestBuilder(id, hostAutoUpdateConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateAutoUpdateConfig", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateAutoUpdateConfigRequestBuilder(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateAutoUpdateConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/autoupdate"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(hostAutoUpdateConfig);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Updates the monitoring configuration of OneAgent on the specified host. The monitoring mode of OneAgent is updated several minutes after the change of configuration.
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param monitoringConfig The JSON body of the request. Contains OneAgent monitoring parameters. (optional)
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public void updateMonitoringConfig(String id, MonitoringConfig monitoringConfig) throws ApiException {
    updateMonitoringConfigWithHttpInfo(id, monitoringConfig);
  }

  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Updates the monitoring configuration of OneAgent on the specified host. The monitoring mode of OneAgent is updated several minutes after the change of configuration.
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param monitoringConfig The JSON body of the request. Contains OneAgent monitoring parameters. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public ApiResponse<Void> updateMonitoringConfigWithHttpInfo(String id, MonitoringConfig monitoringConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateMonitoringConfigRequestBuilder(id, monitoringConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateMonitoringConfig", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateMonitoringConfigRequestBuilder(String id, MonitoringConfig monitoringConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateMonitoringConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/monitoring"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(monitoringConfig);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /hosts/{id}/autoupdate&#x60; request
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param hostAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateAutoUpdateConfig1(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    validateAutoUpdateConfig1WithHttpInfo(id, hostAutoUpdateConfig);
  }

  /**
   * Validates the payload for the &#x60;PUT /hosts/{id}/autoupdate&#x60; request
   * 
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param hostAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateAutoUpdateConfig1WithHttpInfo(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateAutoUpdateConfig1RequestBuilder(id, hostAutoUpdateConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateAutoUpdateConfig1", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateAutoUpdateConfig1RequestBuilder(String id, HostAutoUpdateConfig hostAutoUpdateConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling validateAutoUpdateConfig1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/autoupdate/validator"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(hostAutoUpdateConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Validates the payload for the &#x60;PUT /hosts/{id}/monitoring&#x60; request
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param monitoringConfig The JSON body of the request. Contains OneAgent monitoring parameters. (optional)
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public void validateMonitoringConfig(String id, MonitoringConfig monitoringConfig) throws ApiException {
    validateMonitoringConfigWithHttpInfo(id, monitoringConfig);
  }

  /**
   * Deprecated. Manage host monitoring settings via the environment API v2 settings endpoint with schemaId &#39;builtin:host.monitoring&#39; instead.
   * Deprecated. Manage host monitoring settings via the [Settings endpoint](index.jsp?urls.primaryName&#x3D;Environment%20API%20v2#/Settings%20-%20Objects) with schemaId &#x60;builtin:host.monitoring&#x60; instead.  Validates the payload for the &#x60;PUT /hosts/{id}/monitoring&#x60; request
   * @param id The Dynatrace entity ID of the required host. (required)
   * @param monitoringConfig The JSON body of the request. Contains OneAgent monitoring parameters. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public ApiResponse<Void> validateMonitoringConfigWithHttpInfo(String id, MonitoringConfig monitoringConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateMonitoringConfigRequestBuilder(id, monitoringConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateMonitoringConfig", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateMonitoringConfigRequestBuilder(String id, MonitoringConfig monitoringConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling validateMonitoringConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hosts/{id}/monitoring/validator"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(monitoringConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
