/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.HostGroupAutoUpdateConfig;
import com.dynatrace.apis.configv1.model.OneAgentHostGroupConfig;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class OneAgentInAHostGroupApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OneAgentInAHostGroupApi() {
    this(new ApiClient());
  }

  public OneAgentInAHostGroupApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Gets the configuration of OneAgent auto-update in the specified host group
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @return HostGroupAutoUpdateConfig
   * @throws ApiException if fails to make API call
   */
  public HostGroupAutoUpdateConfig getAutoUpdateConfig2(String id) throws ApiException {
    ApiResponse<HostGroupAutoUpdateConfig> localVarResponse = getAutoUpdateConfig2WithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the configuration of OneAgent auto-update in the specified host group
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @return ApiResponse&lt;HostGroupAutoUpdateConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<HostGroupAutoUpdateConfig> getAutoUpdateConfig2WithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAutoUpdateConfig2RequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAutoUpdateConfig2", localVarResponse);
        }
        return new ApiResponse<HostGroupAutoUpdateConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<HostGroupAutoUpdateConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAutoUpdateConfig2RequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getAutoUpdateConfig2");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hostgroups/{id}/autoupdate"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the OneAgent configuration in the specified host group
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @return OneAgentHostGroupConfig
   * @throws ApiException if fails to make API call
   */
  public OneAgentHostGroupConfig getHostGroupConfig(String id) throws ApiException {
    ApiResponse<OneAgentHostGroupConfig> localVarResponse = getHostGroupConfigWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the OneAgent configuration in the specified host group
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @return ApiResponse&lt;OneAgentHostGroupConfig&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OneAgentHostGroupConfig> getHostGroupConfigWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getHostGroupConfigRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getHostGroupConfig", localVarResponse);
        }
        return new ApiResponse<OneAgentHostGroupConfig>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<OneAgentHostGroupConfig>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getHostGroupConfigRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getHostGroupConfig");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hostgroups/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the configuration of OneAgent auto-update in the specified host group
   * OneAgents are updated several minutes after the change of configuration.   The process can take more time depending on number of OneAgents in the update queue.
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @param hostGroupAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters. (optional)
   * @throws ApiException if fails to make API call
   */
  public void updateAutoUpdateConfig1(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    updateAutoUpdateConfig1WithHttpInfo(id, hostGroupAutoUpdateConfig);
  }

  /**
   * Updates the configuration of OneAgent auto-update in the specified host group
   * OneAgents are updated several minutes after the change of configuration.   The process can take more time depending on number of OneAgents in the update queue.
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @param hostGroupAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> updateAutoUpdateConfig1WithHttpInfo(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateAutoUpdateConfig1RequestBuilder(id, hostGroupAutoUpdateConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateAutoUpdateConfig1", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateAutoUpdateConfig1RequestBuilder(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateAutoUpdateConfig1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hostgroups/{id}/autoupdate"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(hostGroupAutoUpdateConfig);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /hostgroups/{id}/autoupdate&#x60; request
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @param hostGroupAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateAutoUpdateConfig2(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    validateAutoUpdateConfig2WithHttpInfo(id, hostGroupAutoUpdateConfig);
  }

  /**
   * Validates the payload for the &#x60;PUT /hostgroups/{id}/autoupdate&#x60; request
   * 
   * @param id The Dynatrace entity ID of the required host group. (required)
   * @param hostGroupAutoUpdateConfig The JSON body of the request. Contains OneAgent auto-update parameters to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateAutoUpdateConfig2WithHttpInfo(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateAutoUpdateConfig2RequestBuilder(id, hostGroupAutoUpdateConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateAutoUpdateConfig2", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateAutoUpdateConfig2RequestBuilder(String id, HostGroupAutoUpdateConfig hostGroupAutoUpdateConfig) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling validateAutoUpdateConfig2");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/hostgroups/{id}/autoupdate/validator"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(hostGroupAutoUpdateConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
