/*
 * Dynatrace Configuration API
 * Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.dynatrace.apis.configv1.api;

import com.dynatrace.apis.configv1.ApiClient;
import com.dynatrace.apis.configv1.ApiException;
import com.dynatrace.apis.configv1.ApiResponse;
import com.dynatrace.apis.configv1.Pair;

import com.dynatrace.apis.configv1.model.EntityShortRepresentation;
import com.dynatrace.apis.configv1.model.ErrorEnvelope;
import com.dynatrace.apis.configv1.model.FailureDetectionRule;
import com.dynatrace.apis.configv1.model.FdpSelectionRuleOrder;
import com.dynatrace.apis.configv1.model.StubList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2022-11-02T15:07:55.784964900+01:00[Europe/Brussels]")
public class ServiceFailureDetectionRulesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ServiceFailureDetectionRulesApi() {
    this(new ApiClient());
  }

  public ServiceFailureDetectionRulesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Changes the ID of the specified rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @param entityShortRepresentation The JSON body of the request. Contains the new ID of the rule. All other fields are ignored. (required)
   * @throws ApiException if fails to make API call
   */
  public void changeRuleId(String id, EntityShortRepresentation entityShortRepresentation) throws ApiException {
    changeRuleIdWithHttpInfo(id, entityShortRepresentation);
  }

  /**
   * Changes the ID of the specified rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @param entityShortRepresentation The JSON body of the request. Contains the new ID of the rule. All other fields are ignored. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> changeRuleIdWithHttpInfo(String id, EntityShortRepresentation entityShortRepresentation) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = changeRuleIdRequestBuilder(id, entityShortRepresentation);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("changeRuleId", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder changeRuleIdRequestBuilder(String id, EntityShortRepresentation entityShortRepresentation) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling changeRuleId");
    }
    // verify the required parameter 'entityShortRepresentation' is set
    if (entityShortRepresentation == null) {
      throw new ApiException(400, "Missing the required parameter 'entityShortRepresentation' when calling changeRuleId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/{id}/changeId"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(entityShortRepresentation);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Updates the specified failure detection rule rule | maturity&#x3D;EARLY_ADOPTER
   * If a rule with the specified ID doesn&#39;t exist, a new one is created and appended to the end of the rule list.   Rules are evaluated from top to bottom, the first matching rule applies.To enforce a particular order use the reorder request.   The failure detection parameter set used by the rule must exist at the time of rule creation.
   * @param id The ID of the required failure detection rule.  (required)
   * @param failureDetectionRule The JSON body of the request. Contains the updated configuration of the failure detection rule.   You can&#39;t update the ID with this request. Use the change ID request instead. (optional)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation createOrUpdateRule(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = createOrUpdateRuleWithHttpInfo(id, failureDetectionRule);
    return localVarResponse.getData();
  }

  /**
   * Updates the specified failure detection rule rule | maturity&#x3D;EARLY_ADOPTER
   * If a rule with the specified ID doesn&#39;t exist, a new one is created and appended to the end of the rule list.   Rules are evaluated from top to bottom, the first matching rule applies.To enforce a particular order use the reorder request.   The failure detection parameter set used by the rule must exist at the time of rule creation.
   * @param id The ID of the required failure detection rule.  (required)
   * @param failureDetectionRule The JSON body of the request. Contains the updated configuration of the failure detection rule.   You can&#39;t update the ID with this request. Use the change ID request instead. (optional)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> createOrUpdateRuleWithHttpInfo(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createOrUpdateRuleRequestBuilder(id, failureDetectionRule);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createOrUpdateRule", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createOrUpdateRuleRequestBuilder(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createOrUpdateRule");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(failureDetectionRule);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Creates a new failure detection rule | maturity&#x3D;EARLY_ADOPTER
   * The new rule is appended to the end of the rule list.   Rules are evaluated from top to bottom, the first matching rule applies.To enforce a particular order use the reorder request.   The failure detection parameter set used by the rule must exist at the time of rule creation.
   * @param failureDetectionRule The JSON body of the request. Contains the configuration of the new failure detection rule.   Dynatrace will generate a random UUID for you, if you don&#39;t specify an ID. (optional)
   * @return EntityShortRepresentation
   * @throws ApiException if fails to make API call
   */
  public EntityShortRepresentation createRule(FailureDetectionRule failureDetectionRule) throws ApiException {
    ApiResponse<EntityShortRepresentation> localVarResponse = createRuleWithHttpInfo(failureDetectionRule);
    return localVarResponse.getData();
  }

  /**
   * Creates a new failure detection rule | maturity&#x3D;EARLY_ADOPTER
   * The new rule is appended to the end of the rule list.   Rules are evaluated from top to bottom, the first matching rule applies.To enforce a particular order use the reorder request.   The failure detection parameter set used by the rule must exist at the time of rule creation.
   * @param failureDetectionRule The JSON body of the request. Contains the configuration of the new failure detection rule.   Dynatrace will generate a random UUID for you, if you don&#39;t specify an ID. (optional)
   * @return ApiResponse&lt;EntityShortRepresentation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityShortRepresentation> createRuleWithHttpInfo(FailureDetectionRule failureDetectionRule) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createRuleRequestBuilder(failureDetectionRule);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createRule", localVarResponse);
        }
        return new ApiResponse<EntityShortRepresentation>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityShortRepresentation>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createRuleRequestBuilder(FailureDetectionRule failureDetectionRule) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(failureDetectionRule);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Deletes the specified failure detection rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteRule(String id) throws ApiException {
    deleteRuleWithHttpInfo(id);
  }

  /**
   * Deletes the specified failure detection rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteRuleWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteRuleRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteRule", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteRuleRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteRule");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Lists all available failure detection rules | maturity&#x3D;EARLY_ADOPTER
   * 
   * @return StubList
   * @throws ApiException if fails to make API call
   */
  public StubList getAllRules() throws ApiException {
    ApiResponse<StubList> localVarResponse = getAllRulesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Lists all available failure detection rules | maturity&#x3D;EARLY_ADOPTER
   * 
   * @return ApiResponse&lt;StubList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<StubList> getAllRulesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAllRulesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAllRules", localVarResponse);
        }
        return new ApiResponse<StubList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<StubList>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAllRulesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Gets the properties of the specified rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @return FailureDetectionRule
   * @throws ApiException if fails to make API call
   */
  public FailureDetectionRule getRule(String id) throws ApiException {
    ApiResponse<FailureDetectionRule> localVarResponse = getRuleWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Gets the properties of the specified rule | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @return ApiResponse&lt;FailureDetectionRule&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FailureDetectionRule> getRuleWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRuleRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRule", localVarResponse);
        }
        return new ApiResponse<FailureDetectionRule>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<FailureDetectionRule>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRuleRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getRule");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Reorders failure detection rules | maturity&#x3D;EARLY_ADOPTER
   * Rules are evaluated from top to bottom, the first matching rule applies.
   * @param fdpSelectionRuleOrder The JSON body of the request. Contains the failure detection rules in the required order. (required)
   * @throws ApiException if fails to make API call
   */
  public void reorderRules(FdpSelectionRuleOrder fdpSelectionRuleOrder) throws ApiException {
    reorderRulesWithHttpInfo(fdpSelectionRuleOrder);
  }

  /**
   * Reorders failure detection rules | maturity&#x3D;EARLY_ADOPTER
   * Rules are evaluated from top to bottom, the first matching rule applies.
   * @param fdpSelectionRuleOrder The JSON body of the request. Contains the failure detection rules in the required order. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> reorderRulesWithHttpInfo(FdpSelectionRuleOrder fdpSelectionRuleOrder) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = reorderRulesRequestBuilder(fdpSelectionRuleOrder);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("reorderRules", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder reorderRulesRequestBuilder(FdpSelectionRuleOrder fdpSelectionRuleOrder) throws ApiException {
    // verify the required parameter 'fdpSelectionRuleOrder' is set
    if (fdpSelectionRuleOrder == null) {
      throw new ApiException(400, "Missing the required parameter 'fdpSelectionRuleOrder' when calling reorderRules");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/reorderRules";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(fdpSelectionRuleOrder);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;POST /service/failureDetection/parameterSelection/rules&#x60; request | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param failureDetectionRule The JSON body of the request. Contains the parameters of the failure detection rule to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateCreateRule(FailureDetectionRule failureDetectionRule) throws ApiException {
    validateCreateRuleWithHttpInfo(failureDetectionRule);
  }

  /**
   * Validates the payload for the &#x60;POST /service/failureDetection/parameterSelection/rules&#x60; request | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param failureDetectionRule The JSON body of the request. Contains the parameters of the failure detection rule to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateCreateRuleWithHttpInfo(FailureDetectionRule failureDetectionRule) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateCreateRuleRequestBuilder(failureDetectionRule);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateCreateRule", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateCreateRuleRequestBuilder(FailureDetectionRule failureDetectionRule) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/validator";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(failureDetectionRule);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Validates the payload for the &#x60;PUT /service/failureDetection/parameterSelection/rules/{id}&#x60; request | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @param failureDetectionRule The JSON body of the request. Contains the configuration of the failure detection rule to be validated. (optional)
   * @throws ApiException if fails to make API call
   */
  public void validateUpdateRule(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    validateUpdateRuleWithHttpInfo(id, failureDetectionRule);
  }

  /**
   * Validates the payload for the &#x60;PUT /service/failureDetection/parameterSelection/rules/{id}&#x60; request | maturity&#x3D;EARLY_ADOPTER
   * 
   * @param id The ID of the required failure detection rule.  (required)
   * @param failureDetectionRule The JSON body of the request. Contains the configuration of the failure detection rule to be validated. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> validateUpdateRuleWithHttpInfo(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = validateUpdateRuleRequestBuilder(id, failureDetectionRule);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("validateUpdateRule", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder validateUpdateRuleRequestBuilder(String id, FailureDetectionRule failureDetectionRule) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling validateUpdateRule");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/service/failureDetection/parameterSelection/rules/{id}/validator"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json; charset&#x3D;utf-8");
    localVarRequestBuilder.header("Accept", "application/json; charset&#x3D;utf-8");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(failureDetectionRule);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
